<div class="questionsBlock">

    <div
      *ngFor="let question of binaryQuestions; let index = index;"
      [@user-choice]="sideMovement"
      (@user-choice.start)="onAnimationStart()"
      (@user-choice.done)="onAnimationDone()"
      [@back-action]="backMovement"
      (@back-action.start)="onAnimationStart()"
      (@back-action.done)="onAnimationDone()"

      >
        <div
          class="cardBinaryQuestion"
          *ngIf="!isBrowser || index === currentIndex"
          swipe
          (next)="onChoice(false)"
          (previous)="onChoice(true)"
          cdkDrag
          cdkDragLockAxis="x"
          (cdkDropListDropped)="onChoice($event)"
          [cdkDragDisabled]="!mobileService.isMobile"
        >
            <mat-progress-bar mode="determinate" [value]="index | progressRatio : binaryQuestions.length"></mat-progress-bar>
            <div>
              <p class="headerQuestion">Question {{index + 1}} sur {{binaryQuestions.length}}</p>
              <p class="questionText">{{question.description}}</p>
            </div>

            <ng-content *ngIf="question.showExtra" ></ng-content>
        </div>
    </div>

    <div @completeQuizz class="cardBinaryQuestion cardValidation" *ngIf="currentIndex === binaryQuestions.length">
      <p class="textEnd">Questionnaires complétés à 100 %</p>
      <div class="iconEnd"><mat-icon>done</mat-icon></div>
    </div>

</div>
<binary-actions (next)="onNext()" (previous)="onPrevious()" (choice)="onChoice($event)" [hideBtnsChoice]="hideBtnsChoice"></binary-actions>
