.questionsBlock {
    height: 450px;
    overflow: hidden;
}

.cardBinaryQuestion {
    width: 90%;
    max-width: 590px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 4px rgb(99 99 101);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    height: 420px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    background-color: var(--div-container-background-color);
}

.cardBinaryQuestion:hover {
    box-shadow: 2px 2px 8px rgba(99 99 101);
}

.carValidation {
    justify-content: center;
    width: 100%;
}

.textEnd {
    font-weight: bold;
    font-size: 1.2rem;
}

.iconEnd {
    width: 100%;
    text-align: center;
}

.iconEnd .material-icons {
    font-size: 100px;
    width: 100px;
    height: 100px;
    color: var(--main-text-color);
}

.headerQuestion {
    color: var(--main-text-color);
}

.questionText {
    font-weight: bold;
    font-size: 1.2rem;
}

  /* Animate an item that are dragging. */
/*   .cdk-drag-dragging {
    transition: filter 1s;
    opacity: 0.7;
    filter: blur(1px);
  } */