<div class="questionsBlock">
    <!-- <div class="cardBinaryQuestion fakePaper fakePaper--2">
    </div>
    <div class="cardBinaryQuestion fakePaper">
    </div> -->

    <div
      *ngFor="let question of binaryQuestions; let index = index;"
      [@user-choice]="sideMovement"
      (@user-choice.start)="onAnimationStart()"
      (@user-choice.done)="onAnimationDone()"
      [@back-action]="backMovement"
      (@back-action.start)="onAnimationStart()"
      (@back-action.done)="onAnimationDone()"

      >
        <div class="cardBinaryQuestion"  *ngIf="index === currentIndex"  swipe (next)="onChoice(false)" (previous)="onChoice(true)" >
            <mat-progress-bar mode="determinate" [value]="index | progressRatio : binaryQuestions.length"></mat-progress-bar>
            <p>Question {{index + 1}} sur {{binaryQuestions.length}}</p>
            <p>{{question.description}}</p>
            <ng-content *ngIf="question.showExtra"></ng-content>
        </div>

        <div class="cardBinaryQuestion" *ngIf="currentIndex === binaryQuestions.length">
            <p>Questionnaire complété à 100 %</p>
            <mat-icon>done</mat-icon>
        </div>
    </div>

</div>
<binary-actions (next)="onNext()" (previous)="onPrevious()" (choice)="onChoice($event)" [hideBtnsChoice]="hideBtnsChoice"></binary-actions>
