.questionsBlock {
    height: 300px;
}

.cardBinaryQuestion {
    width: 90%;
    box-shadow: 1px 1px 4px rgb(99 99 101);
    padding: 2rem;
    text-align: justify;
    margin-bottom: 2rem;
    position: absolute;
    background-color: white;
    border-radius: 10px;
}

.cardBinaryQuestion:hover {
    box-shadow: 2px 2px 8px rgba(99 99 101);
}


  /* Animate an item that are dragging. */
  .cdk-drag-dragging {
    transition: opacity 1s;
    opacity: 0.5;
  }