 <nav class="navbar navbar-expand-sm navbar-white justify-content-center bg-white">

  <a class="navbar-brand" routerLink="accueil">
    Sommeil <span class="blueColor">Profond</span>
  </a>
  <a class="navbar-brand" routerLink="accueil">
    <img src="assets/logo/zzzLogo.png" alt="Logo ZZZ Sommeil Profond" width="50px" />
  </a>

  <!-- Display only on small size -->
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="!bigScreen">
    <span class="material-icons">menu</span>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <a routerLink="accueil" class="nav-link">Accueil</a>
    <a routerLink="articles" class="nav-link">Articles</a>
    <!-- <a routerLink="produits" class="nav-link">Produits</a> -->
    <a routerLink="bonus" class="nav-link">Bonus</a>
    <a routerLink="a-propos" class="nav-link">Qui suis-je ?</a>
    <a routerLink="contact" class="nav-link">Contact</a>
  </mat-menu>

  <div id="bigScreenMenu" *ngIf="bigScreen">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="articles" class="nav-link">Articles</a>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a routerLink="produits" class="nav-link">Produits</a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="bonus" class="nav-link">Bonus</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="a-propos" class="nav-link">Qui suis-je?</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<hr style="margin-top:0px;">