.fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.textWhite a {
  color: white;
}

.textWhite .active {
  border: 2px solid;
  border-color: white;
}

.textBlue a {
  color: #181a38;
}

.textBlue .active {
  border: 2px solid;
  border-color: #181a38;
}

.notDisplay {
  display: none;
}

a {
  color: black;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: transform 0.2s linear;
}

/* Taget brand items */
nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Taget menu items */
/* TO DO: Small glitch on the position on transition out. Due to the height that change */
li > a:hover {
  transform: scale(1.1);
}

@keyframes enterFromNoWhere {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(10);
  }
}

nav > a > img {
  /* background-color: royalblue; */
  transition: enterFromNoWhere 2s linear;
}

.active {
  border: 2px solid;
  border-color: var(--primary-main);
}

nav {
  font-family: "Roboto Mono", monospace;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.smallMenu,
.smallMenu button {
  outline: none;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
