 <nav class="navbar">
  <a class="navbar-brand" routerLink="">
    Sommeil <span class="blueColor">Profond</span>
    <img src="https://sommeilprofond.fr/assets/logo/zzzLogomini.png" alt="Logo ZZZ Sommeil Profond" width="50px" />
  </a>

  <mat-checkbox name="themeColor" [(ngModel)]="darkTheme" (ngModelChange)="changeThemeColor($event)"><span class="wrap">Dark</span></mat-checkbox><br/>


  <!-- Display only on small size -->
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isBrowser && !bigScreen" class="smallMenu">
    <span class="material-icons">menu</span>
  </button>
  <mat-menu #menu="matMenu" xPosition="before" class="smallMenu">
    <a routerLink="" class="nav-link">Accueil</a>
    <a routerLink="articles" class="nav-link">Articles</a>
    <a routerLink="bonus" class="nav-link">Bonus</a>
    <a routerLink="a-propos" class="nav-link">Qui suis-je ?</a>
    <a routerLink="contact" class="nav-link">Contact</a>
  </mat-menu>

  <div id="bigScreenMenu" *ngIf="bigScreen || !isBrowser">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="articles" class="nav-link">Articles</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="bonus" class="nav-link">Bonus</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="a-propos" class="nav-link">Qui suis-je?</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
  <hr style="margin:0px;">
</nav>
