<!-- Footer -->
<button mat-button color="primary" class="topSpace" (click)="scrollToTop()">Retour en haut de la page</button>
<footer class="page-footer whiteSmoke pt-4 noMarginBottom">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3 center">

          <p class="text-uppercase smallTitle">Sommeil Profond</p>
          <p>Ton guide du sommeil pour être en pleine forme.</p>
          <p>Dans chaque publication, je t'apprends à bien dormir et je réponds à toutes tes questions.</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-6 mb-md-0 mb-3">
            <p class="text-uppercase smallTitle">Liens</p>
            <ul class="list-unstyled linkText">
              <li (click)="scrollToTop()">
                <alink routerPath="articles" linkCategory="footer" linkContent="Revenir à la liste des articles"></alink>
              </li>
              <li (click)="scrollToTop()">
                <alink routerPath="bonus" linkCategory="footer" linkContent="Découvrir le bonus gratuit"></alink>
              </li>
              <li (click)="scrollToTop()">
                <alink routerPath="contact" linkCategory="footer" linkContent="Contact"></alink>
              </li>
              <li (click)="scrollToTop()">
                <alink routerPath="mentions" linkCategory="footer" linkContent="Mentions légales"></alink>
              </li>
            </ul>
          </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-2 whiteSmokeBold">© 2020 Copyright:
      <p class="inline">Sommeil Profond</p>
    </div>
  </footer>