.whiteSmoke {
  background-color: var(--footer-background-color);
}

.whiteSmokeBold {
  background-color: var(--footer-bold-color);
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.topSpace {
  margin-top: 2rem;
}

.linkText li {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.smallTitle {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
