<!-- Footer -->
<button mat-button color="primary" class="topSpace" (click)="scrollToTop()">Retour en haut de la page</button>
<footer class="page-footer whiteSmoke pt-4 noMarginBottom">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3 center">

          <h5 class="text-uppercase">Sommeil Profond</h5>
          <p>Site spécialisé dans les problèmes liés au sommeil.</p>
          <p>Sommeil Profond a pour but de mettre à disposition tous les meilleurs conseils pour avoir un sommeil profond.</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-6 mb-md-0 mb-3">
            <h5 class="text-uppercase">Liens</h5>
            <ul class="list-unstyled linkText">
              <li routerLink="articles" (click)="scrollToTop()">
                <a>Revenir à la liste des articles</a>
              </li>
              <li routerLink="bonus" (click)="scrollToTop()">
                <a>Découvrir le bonus gratuit</a>
              </li>
              <li routerLink="contact" (click)="scrollToTop()">
                <a>Contact</a>
              </li>
              <li routerLink="mentions" (click)="scrollToTop()">
                <a>Mentions légales</a>
              </li>
            </ul>
          </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-2 whiteSmokeBold">© 2020 Copyright:
      <p class="inline">Sommeil Profond</p>
    </div>
  </footer>