<!-- Footer -->
<footer class="page-footer whiteSmoke pt-4 noMarginBottom">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">

          <h5 class="text-uppercase">Sommeil Profond</h5>
          <p>Spécialisé dans le conseil sur le sommeil.</p>
          <p>Sommeil Profond à pour but d'améliorer la qualité de votre sommeil.</p>

        </div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Liens</h5>
            <ul class="list-unstyled">
              <li>
                <a routerLink="articles">Revenir à la liste des articles</a>
              </li>
              <li>
                <a routerLink="bonus">Découvrir le bonus gratuit</a>
              </li>
              <li>
                <a routerLink="contact">Contact</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Mentions légales</h5>
            <ul class="list-unstyled">
              <li>
                <a routerLink="mentions">Politique de confidentialité </a>
              </li>
              <li>
                <a routerLink="mentions">Termes et Conditions Générales de Vente</a>
              </li>
            </ul>
          </div>
      </div>
    </div>

    <div class="footer-copyright text-center py-2 whiteSmokeBold">© 2020 Copyright:
      <p class="inline">Sommeil Profond</p>
    </div>
  </footer>