.whiteSmoke {
    background-color: whitesmoke;
}

.whiteSmokeBold {
    background-color: #e6e5e5;
}

.inline {
    display: inline-block;
}

.center {
    text-align: center;
}

.topSpace {
    margin-top: 5rem;
}

.linkText li {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}