<!-- TODO questions size, and fix it only for other tests ...&  remove popup bonus-->
<div class="biorythmeQuizz">
    <card-questions
        [cardQuestions]="biorythmeQuizz"
        [questionTpl]="dolphinQuestionTpl"
        [quizzCompleteTpl]="isDolphinTpl"
        [(currentIndex)]="currentIndex"
        (quizzComplete)="onGetDolphinScore()"
    >
        <ng-template #dolphinQuestionTpl let-question>
            <mat-radio-group
                aria-labelledby="radio-group-label"
                class="radio-group"
                [(ngModel)]="question.answerValue"
            >
                    <mat-radio-button
                        class="radio-button"
                        *ngFor="let proposition of question.propositions"
                        [value]="proposition.value"
                    >
                        {{proposition.text}}
                    </mat-radio-button>
            </mat-radio-group>
        </ng-template>

    </card-questions>
</div>

<ng-template #isDolphinTpl>
    <p class="textEnd">Tu es un {{score | annimal}} !</p>
    <div class="iconEnd">
        <img [src]="score | annimalPicture" [alt]="score | annimal"/>
    </div>
    <div>
        <p><span class="biorythmeQuizz__more-info">Plus d'informations ci-dessous.</span></p>
    </div>
    <div class="cardFooterActionBar">
        <button mat-button color="primary" (click)="onPrevious()">Retour</button>
        <button mat-button color="primary" (click)="onNext()" [disabled]="isQuizzCompleted">Suivant</button>
    </div>
</ng-template>