<article class="coaching">
    <section>
        <div class="background-img">
            <div class="wrapper">
                <h1><span class="main">Je prends soin de ton sommeil.</span><span class="seconde">Romain Geffrault - Mécanicien & coach du sommeil</span></h1>

                <div class="call-to-action">
                    <button type="button">Je me lance</button>
                </div>
            </div>

        </div>
    </section>
    <section class="backgroundGradient">
        <div class="container" >
            <div class="row">
                <div class="col">
                    <h2>Dormir paisiblement toute une nuit et profiter d&rsquo;un sommeil r&eacute;parateur</h2>
                    <p>Je t&rsquo;accompagne dans la r&eacute;vision de ton sommeil. Je t&rsquo;aide &agrave; r&eacute;parer les pannes suivantes :</p>
                    <ul >
                        <li >Difficult&eacute;s &agrave; s&rsquo;endormir.</li>
                        <li >Difficult&eacute;s &agrave; dormir une nuit compl&egrave;te.</li>
                        <li >Difficult&eacute;s &agrave; se rendormir la nuit.</li>
                        <li >Sommeil de mauvaise qualit&eacute;.</li>
                        <li >R&eacute;veils nocturnes.</li>
                        <li >Manque de sommeil.</li>
                        <li >Insomnies.</li>
                        <li >Apn&eacute;e du sommeil.</li>
                    </ul>
                </div>

                <div class="col">
                    <img src="assets/background-img/coaching/coaching-part2.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Je te propose de prendre soin de ton sommeil comme j&rsquo;ai eu besoin de le faire pour moi.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="timeline">
                        <li class="timeline-item mb-5">
                            <h3>Je n'avais jamais bien dormi.</h3>
                            <p>A 19 ans, je n&rsquo;avais pas souvenir d&rsquo;avoir pass&eacute; une nuit &agrave; vraiment bien dormir.</p>
                            <p>Je me r&eacute;veillais chaque nuit, parfois plusieurs fois, c&rsquo;&eacute;tait normal pour moi.</p>
                            <p>Puis en grandissant, j&rsquo;ai compris que ce comportement n&rsquo;&eacute;tait pas bon pour ma sant&eacute;. Qu&rsquo;il n&rsquo;y avait pas de raison que mon sommeil soit d&eacute;r&eacute;gl&eacute;.</p>
                            <p>C&rsquo;&eacute;tait d&rsquo;autant plus g&ecirc;nant lors des p&eacute;riodes stressantes, o&ugrave; je ne dormais vraiment pas beaucoup, perdant ainsi les b&eacute;n&eacute;fices du sommeil.</p>
                        </li>

                        <li class="timeline-item mb-5">
                            <h3>J'ai d&eacute;cid&eacute; de tout faire pour r&eacute;gler mon problème de sommeil.</h3>
                            <p>Des heures de sommeil, j&rsquo;en ai perdu. J&rsquo;en parlais r&eacute;guli&egrave;rement &agrave; mon entourage, mais personne ne savait comment m&rsquo;aider.</p>
                            <p>Puis je suis all&eacute; voir certains th&eacute;rapeutes&hellip; Malheureusement, toujours sans r&eacute;sultats.</p>
                            <p>J&rsquo;ai donc d&eacute;cid&eacute; de m&rsquo;investir pleinement dans cette qu&ecirc;te de recherche d&rsquo;un sommeil de qualit&eacute;. Une nuit compl&egrave;te sans r&eacute;veil, c&rsquo;&eacute;tait le Graal.</p>
                            <p>Je me suis int&eacute;ress&eacute; au sommeil, &agrave; comprendre son fonctionnement, ses m&eacute;canismes, ses b&eacute;n&eacute;fices, et ses troubles. </p>
                            <p>J&rsquo;ai d&eacute;couvert tout un tas de sujets et notions, dont je n&rsquo;avais jamais entendu parl&eacute;.</p>

                        </li>

                        <li class="timeline-item mb-5">
                            <h3>La checklist de notions qui m'ont permis de résoudre mon problème de sommeil</h3>
                            <ul >
                                <li >Les cycles de sommeil.</li>
                                <li >L&rsquo;horloge biologique.</li>
                                <li >La m&eacute;latonine.</li>
                                <li >Le pouvoir des siestes.</li>
                                <li >Les diff&eacute;rentes phases du sommeil.</li>
                                <li >Le sommeil profond, le sommeil l&eacute;ger, le sommeil paradoxal.</li>
                                <li >Troubles du sommeil.</li>
                                <li >Rythme circadien.</li>
                                <li >La balance veille/sommeil.</li>
                                <li>Les hormones et neurotransmetteurs qui sont liés au sommeil.</li>
                                <li>L'influence de l'environnement, des activités quotidienne et de l'inconscient sur le sommeil.</li>
                            </ul>
                        </li>

                        <li class="timeline-item">
                            <h3>Il n'y a pas de remède magique face aux troubles du sommeil</h3>
                            <p>Me voilà aujourd’hui capable de bien dormir, mais ce n’est pas si simple. Contrairement à la majorité des gens qui dorment sans se poser de questions, je dois être très rigoureux sur le respect des 3 piliers du sommeil. Et c’est sans doute aussi ton cas. Alors quels sont ces 3 piliers ?</p>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Tu ne dors pas bien, car tu ne respectes pas les 3 piliers du sommeil</h2>
                    <p>Tu as peut-être déjà essayé de mettre en place des conseils que tu as vu sur internet, mais sans succès. Tu ne dors toujours pas bien. D’expérience, ces conseils sont généralement bons, mais pas suffisants. Il n’existe pas un conseil magique qui va résoudre ton trouble du sommeil.</p>
                    <p>Il faut absolument respecter l’intégralité des 3 piliers du sommeil !</p>
                    <p>Le sommeil est majoritairement impacté par ces 3 piliers :</p>

                    <ol>
                        <li>La routine</li>
                        <li>L'inconscient</li>
                        <li>L’environnement</li>
                    </ol>

                    <p>La clé d’un bon sommeil est donc de mettre en place une routine irréprochable, d’avoir son inconscience apaisée et prête à accueillir le sommeil, et enfin un environnement dans lequel on vit, permettant de bien dormir.</p>
                    <p>Voici quelques exemples courants qui ne respectent pas les 3 piliers.</p>
                    <!-- TODO ramplcer pilier par symbol -->
                    <ol>
                        <li>Regarder son téléphone dans son lit, ne respecte pas le pilier de la routine.</li>
                        <li>Trop cogiter avant de s’endormir, ne respecte pas le pilier de l'inconscient.</li>
                        <li>Être exposé à la lumière blanche la nuit tombée, ne respecte pas le pilier de l’environnement.</li>
                        <li>Tu en veux plus ?</li>
                        <li>Avoir des fausses croyances sur le sommeil ne respecte pas le pilier de l'inconscient.</li>
                        <li>Manger trop tard ne respecte pas le pilier de la routine.</li>
                        <li>Boire du café ou du thé ne respecte pas le pilier de la routine.</li>
                        <li>Trop boire en fin de journée ne respecte pas le pilier de la routine.</li>
                        <li>Ne pas s’exposer à la lumière du jour ne respecte pas le pilier de la routine.</li>
                        <li>Ne pas prendre de pauses pour souffler, ne respecte pas le pilier de l'inconscient.</li>
                        <li>Dormir dans une chambre mal rangée ne respecte pas le pilier de l’environnement.</li>
                        <li>Travailler trop tard ne respecte pas le pilier de la routine.</li>
                        <li>Espérer se rendormir avec de la chance, ne respecte le pilier de la routine.</li>
                        <li>…</li>
                    </ol>

                    <p>J’en ai encore beaucoup comme ça, ils sont tous importants, et leur influence sur le sommeil est trop souvent sous-estimée. Je n’ai encore jamais vu un insomniaque respecter l’entièreté de ces piliers. Parfois, cela ne se joue pas à grand-chose, c’est parfois une erreur toute bête, une mauvaise habitude que l’on a prise et qui ne posait pas de problème au début. Mais avec le temps, elle contribue à un mauvais sommeil.</p>

                    <p>Cet outil, je l’utilise dès que j’ai une période où je dors mal. Je ne suis pas parfait, il m’arrive de ne pas suivre à la lettre mes propres conseils. Et sans surprise, je dors mal. C’est pourquoi, je refais le point sur mon quotidien. Grâce à cette liste, je repère rapidement ce qui ne convient pas et je rectifie. J’ai maintenant confiance en mon sommeil et ma capacité à retrouver un bon sommeil. Dès que j’ai une période avec un sommeil de mauvaise qualité, je sais ce que je dois faire pour résoudre mon trouble du sommeil.</p>

                    <p>Et toi aussi, tu peux en bénéficier de cette checklist des 3 piliers. Ne t’es-tu jamais demandé, pourquoi ne dors pas bien ? Qu’est-ce que tu fais de mal pour ton sommeil ? Cette checklist va permettre d’analyser ton sommeil et faire ressortir les erreurs qui causent tes soucis de sommeil. Une fois le bilan fait, tu sauras quoi faire, quoi et quand le mettre en place.</p>

                    <p>C’est pourquoi lors du coaching que je te propose, on voit ensemble chaque élément qui compose les 3 piliers afin de détecter quels facteurs que tu ne respectes pas. Ce sera la base pour établir un protocole personnalisé dans lequel je t'accompagnerais lors de sa mise en place. J’ai remarqué qu’une seule séance ne suffit pas. Elle améliore considérablement la qualité du sommeil, mais ne résout pas totalement les troubles.Il faut plusieurs séance pour rétablir un sommeil sain et prendre conscience de l'impact de chacun des points qui ne sont pas respectés.</p>
                </div>
                <!-- <div class="col">
                    <img src="assets/background-img/coaching/coaching-part2.jpg" alt="">
                </div> -->
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-auto mx-auto targets-methode">
                        <!-- Todo objectif du coaching -->
                        <p>Objectifs suivi coaching</p>

                        <ul >
                            <li >Retrouver un sommeil de qualit&eacute;.</li>
                            <li >Am&eacute;liorer son sommeil.</li>
                            <li >R&eacute;duction, voire suppression des r&eacute;veils nocturnes.</li>
                            <li >Facilit&eacute; &agrave; se rendormir la nuit.</li>
                            <li >Endormissement facile.</li>
                            <li >R&eacute;veil facile.</li>
                            <li >Nuits reposantes et r&eacute;paratrices.</li>
                            <li >Gain d&rsquo;&eacute;nergie, de satisfaction, de bonne humeur et de bonheur.</li>
                            <li >Retrouver un sommeil de qualit&eacute;.</li>
                        </ul>

                    </div>
                </div>

                <!-- TODO ADD PILIARS AND STEPS -->

                <div class="row">
                    <div class="col">
                        <h2>Coaching sommeil adulte 60€ TTC</h2>
                        <h3>1 - Le bilan de ton sommeil</h3>
                        <p>Une séance où l'on s'appelle, soit par téléphone ou par visio, selon ta préférence. Dans lequel :</p>
                        <ul >
                            <li>Tu m'expliques les problèmes que tu rencontres avec ton sommeil et ce que tu attends de ton sommeil.</li>
                            <li>Je te pose ensuite des questions à la recherche des causes qui troublent ton sommeil.</li>
                            <li>Je t'explique comment fonctionne le sommeil et les premières clés à mettre en place pour amélorer ton sommeil.</li>
                            <li>Je réponds à toutes tes questions liées au sommeil et aux méthodes pour l'améliorer.</li>
                        </ul>
                        <h3>2 - Création d'un guide à personnalisé</h3>
                        <p>Suite à notre échange, c'est à moi de travailler pour t'aider au mieux.</p>
                        <p>Je créé un programme personnalisé selon tes besoins et tes contraintes.</p>
                        <h3>3 - Et après ?</h3>
                        <p>Je reste joignable par mail, pour répondre à tes questions et suivre ta progression.</p>
                        <p>Si tu as oublié de me poser des questions, on pourra toujours échanger dessus.</p>
                    </div>
                </div>

                <!-- TODO ne concerne pas qui -->

                <div class="row">
                    <div class="col">
                        <h2>Comment prendre un rendez-vous avec Romain Coach sommeil ?</h2>
                        <p>Pour cela c'est très simple, envoie moi un mail à l'adresse : romain@sommeilprofond.fr</p>
                        <p>N'hésite pas à me décrire ton problème et tes attentes vis à vis de la séance de coaching.</p>
                        <p>Après, ce premier contact, on se donne un rendez-vous pour réalsier la séance.</p>
                        <!-- TODO formulaire de contact -->
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>FAQ</h2>
                        <!-- TODO should not be a h3 -->
                        <h3>Pour qui est destinée la séance de coaching sommeil adulte ?</h3>
                        <p>Pour tout adulte à partir de 18</p>
                        pas personne travaillant en décalé / ado, mais possibilité d'améliorer la situation. / apnée du sommeil
                        <!-- Paiement paypal -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Formulaire pour poser une question ? -->
</article>