.coaching {
    .background-img {
        background-image: url(/assets/background-img/coaching/sunset-with-man--small.jpg);
        @media screen and (min-width: 545px) {
            background-image: url(/assets/background-img/coaching/sunset-with-man--large.jpg);
        }
        background-position: center;
        background-color: #06101a;
        background-size: cover;
        //background-blend-mode: multiply;
        color: white;
        position: relative;
        min-height: 100vh;
        width: 100%;
        margin-bottom: -1px;

        .wrapper {
            height: calc(100vh);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-color: #00000029;
            padding: 10%;

            h1 {
                span {
                    display: block;
                }

                .main {
                    font-size: 4rem;
                    padding: 2rem 0;
                }
                .seconde {
                    font-size: 1.25rem;
                }
            }

            .call-to-action {
                button {
                    background-color: #f7af2c;
                    color: black;
                    padding: 0.75rem 2.5rem;
                    display: inline-block;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                    border: 1px solid transparent;
                    font-size: 1rem;
                    line-height: 1.5;
                    border-radius: 0.25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

                    &:hover {
                        background-color: #20eb59;
                    }
                }
            }
        }
    }
    .backgroundGradient {
        background: linear-gradient(180deg, #010b10, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);

        color: white;
        h2 {
            color: white;
        }
        h3 {
            color: #dfe0eb
        }
    }

    .targets-methode {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        padding: 2rem 2.5rem;

        > p {
            font-size: 2rem;
        }

        ul {
            padding: 0;
            li {
                list-style: none;
                margin-bottom: 1rem;
                position: relative;
                display: flex;
                align-items: center;

            }
            li::before {
                content: '';
                display: inline-block;
                width: 26px;
                min-width: 26px;
                height: 26px;
                margin-right: 1rem;
                background-image: url(/assets/svg/check-mark.svg);
            }
        }
    }

    .row {
        padding-top: 8rem;
    }
}

.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;

  p {
    color: #dfdcdc
  }
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -46px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}