<article class="coaching">
    <section>
        <div class="background-img">
            <div class="wrapper">
                <h1><span class="main">Je répare ton sommeil.</span><span class="seconde">Romain Geffrault - Mécanicien & coach du sommeil</span></h1>

                <div class="call-to-action">
                    <button type="button">Je me lance</button>
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="backgroundGradient-1">
            <div class="container" >
                <div class="row">
                    <div class="col">
                        <h2>Dormir paisiblement toute une nuit et profiter d&rsquo;un sommeil r&eacute;parateur</h2>
                        <p>Je t&rsquo;accompagne dans la r&eacute;vision de ton sommeil. Je t&rsquo;aide &agrave; r&eacute;parer les pannes suivantes :</p>
                        <ul >
                            <li >Difficult&eacute;s &agrave; s&rsquo;endormir.</li>
                            <li >Difficult&eacute;s &agrave; dormir une nuit compl&egrave;te.</li>
                            <li >Difficult&eacute;s &agrave; se rendormir la nuit.</li>
                            <li >Sommeil de mauvaise qualit&eacute;.</li>
                            <li >R&eacute;veils nocturnes.</li>
                            <li >Manque de sommeil.</li>
                            <li >Insomnies.</li>
                            <li >Apn&eacute;e du sommeil.</li>
                        </ul>
                    </div>

                    <div class="col">
                        <img src="assets/background-img/coaching-part2.jpg" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Je te propose de prendre soin de ton sommeil comme j&rsquo;ai eu besoin de le faire pour moi.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="assets/background-img/coaching-part2.jpg" alt="">
                    </div>
                    <div class="col">

                        <h3>Je n'avais jamais bien dormi.</h3>
                        <p>A 19 ans, je n&rsquo;avais pas souvenir d&rsquo;avoir pass&eacute; une nuit &agrave; vraiment bien dormir.</p>
                        <p>Je me r&eacute;veillais chaque nuit, parfois plusieurs fois, c&rsquo;&eacute;tait normal pour moi.</p>
                        <p>Puis en grandissant, j&rsquo;ai compris que ce comportement n&rsquo;&eacute;tait pas bon pour ma sant&eacute;. Qu&rsquo;il n&rsquo;y avait pas de raison que mon sommeil soit d&eacute;r&eacute;gl&eacute;.</p>
                        <p>C&rsquo;&eacute;tait d&rsquo;autant plus g&ecirc;nant lors des p&eacute;riodes stressantes, o&ugrave; je ne dormais vraiment pas beaucoup, perdant ainsi les b&eacute;n&eacute;fices du sommeil.</p>

                        <h3>J'ai d&eacute;cid&eacute; de tout faire pour r&eacute;gler mon problème de sommeil.</h3>

                        <p>Des heures de sommeil, j&rsquo;en ai perdu. J&rsquo;en parlais r&eacute;guli&egrave;rement &agrave; mon entourage, mais personne ne savait comment m&rsquo;aider.</p>
                        <p>Puis je suis all&eacute; voir certains th&eacute;rapeutes&hellip; Malheureusement, toujours sans r&eacute;sultats.</p>
                        <p>J&rsquo;ai donc d&eacute;cid&eacute; de m&rsquo;investir pleinement dans cette qu&ecirc;te de recherche d&rsquo;un sommeil de qualit&eacute;. Une nuit compl&egrave;te sans r&eacute;veil, c&rsquo;&eacute;tait le Graal.</p>
                        <p>Je me suis int&eacute;ress&eacute; au sommeil, &agrave; comprendre son fonctionnement, ses m&eacute;canismes, ses b&eacute;n&eacute;fices, et ses troubles. </p>
                        <p>J&rsquo;ai d&eacute;couvert tout un tas de sujets et notions, dont je n&rsquo;avais jamais entendu parl&eacute;.</p>

                        <ul >
                            <li >Les cycles de sommeil.</li>
                            <li >L&rsquo;horloge biologique.</li>
                            <li >La m&eacute;latonine.</li>
                            <li >Le pouvoir des siestes.</li>
                            <li >Les diff&eacute;rentes phases du sommeil.</li>
                            <li >Le sommeil profond, le sommeil l&eacute;ger, le sommeil paradoxal.</li>
                            <li >Troubles du sommeil.</li>
                            <li >Rythme circadien.</li>
                        </ul>


                        <p>Le sujet m&rsquo;a passionn&eacute;, me voil&agrave; aujourd&rsquo;hui apr&egrave;s avoir test&eacute; et exp&eacute;riment&eacute; une multitude de conseils.</p>
                        <p>J&rsquo;ai retenu qu&rsquo;un trouble du sommeil peut avoir de multiples causes, et que l&rsquo;on est tous diff&eacute;rents face au sommeil.</p>
                        <p>Et surtout, qu&rsquo;il n&rsquo;y a pas un conseil magique qui r&egrave;gle tous les probl&egrave;mes de sommeil.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="backgroundGradient-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Un coaching sommeil bas&eacute; sur l&rsquo;&eacute;coute</h2>

                        <p>Lorsque l&rsquo;on appelle son m&eacute;canicien, on lui d&eacute;crit ce qui ne va pas sur sa voiture.</p>
                        <p>Avec moi, c&rsquo;est pareil, j&rsquo;&eacute;coute les pannes que tu rencontres avec ton sommeil. On voit ensemble ce que tu souhaites am&eacute;liorer et les solutions &agrave; mettre en place.</p>
                        <p>Je ne connais que trop bien le poids d&rsquo;un mauvais sommeil, on s&rsquo;y habitue, mais il est toujours l&agrave; &agrave; user notre vie. </p>
                        <p>Ensemble supprimons ce frein pour que tu puisses profiter de la vie &agrave; pleine vitesse.</p>

                    </div>
                    <div class="col">
                        <img src="assets/background-img/coaching-part2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="assets/background-img/coaching-part2.jpg" alt="">
                    </div>
                    <div class="col">
                        <h2>Mes outils : La th&eacute;rapie cognitivo-comportementale (TCC)</h2>

                        <p>Parce qu&#39;un m&eacute;canicien &agrave; besoin d&rsquo;outils pour travailler, j&rsquo;ai choisi d&rsquo;utiliser la th&eacute;rapie cognitivo comportementale, elle a un nom un peu barbare, je te l&#39;accorde.</p>
                        <p>A la base, je pensais que je pouvais me soigner en utilisant des somnif&egrave;res. J&rsquo;y croyais vraiment &#x1f605;.</p>
                        <p>Heureusement, j&rsquo;ai compris juste &agrave; temps, que consommer des somnif&egrave;res revenait &agrave; alimenter sa voiture avec le mauvais carburant. Aie, la casse&hellip;</p>
                        <p>L&rsquo;outil que j&rsquo;utilise est quant &agrave; lui, le plus fiable et efficace aussi bien sur le court et le moyen/long terme.</p>
                        <p>Je me suis alors demand&eacute; pourquoi les m&eacute;decins ne pr&eacute;conisent pas cette th&eacute;rapie. La r&eacute;ponse est qu&rsquo;ils n&rsquo;ont pas forc&eacute;ment re&ccedil;u de formation sur le sommeil. </p>
                        <p>Et qu&rsquo;il y a aussi une histoire d&rsquo;argent. Les somnif&egrave;res rapportent &eacute;norm&eacute;ment aux industries pharmaceutiques.</p>
                        <p>Alors forc&eacute;ment, prescrire un bonbon qui fait &ldquo;dormir&rdquo; et hautement addictif, c&rsquo;est facile. Le probl&egrave;me du patient est r&eacute;gl&eacute; et tout le monde est content.</p>
                        <p>J&rsquo;ai donc banni le somnif&egrave;re de mes outils pour me consacrer sur des m&eacute;thodes bienveillantes et efficientes.</p>
                        <p>Cette m&eacute;thode se base sur la mise en place d&rsquo;une bonne hygi&egrave;ne du sommeil, de bonnes habitudes de sommeil, sur la relaxation. </p>
                        <p>Et aussi sur le partage de tout ce qui peut perturber un bon sommeil, allant de ce que l&rsquo;on peut faire ou bien consommer &agrave; de fausses croyances li&eacute;es au sommeil.</p>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-auto mx-auto targets-methode">
                        <p>Objectifs de la méthode</p>

                        <ul >
                            <li >Retrouver un sommeil de qualit&eacute;.</li>
                            <li >Am&eacute;liorer son sommeil.</li>
                            <li >R&eacute;duction, voire suppression des r&eacute;veils nocturnes.</li>
                            <li >Facilit&eacute; &agrave; se rendormir la nuit.</li>
                            <li >Endormissement facile.</li>
                            <li >R&eacute;veil facile.</li>
                            <li >Nuits reposantes et r&eacute;paratrices.</li>
                            <li >Gain d&rsquo;&eacute;nergie, de satisfaction, de bonne humeur et de bonheur.</li>
                            <li >Retrouver un sommeil de qualit&eacute;.</li>
                        </ul>

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h2>Comment prendre un rendez-vous avec Romain, Coach sommeil ?</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <svg width="71" height="13" viewBox="0 0 71 13" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-right" data-v-81ac646c="" data-v-39a39784=""><line y1="6.5" x2="70" y2="6.5" stroke="currentColor" data-v-81ac646c="" data-v-39a39784=""></line><path d="M71 6.5L65 0V13L71 6.5Z" fill="currentColor" data-v-81ac646c="" data-v-39a39784=""></path></svg>

    <!-- Formulaire pour poser une question ? -->
</article>