<h2 class="titleComment" id="commentSpace">Commentaires</h2>

<div class='commentsContainer'>
    <ul class="mainComments">
        <li *ngFor="let comment of comments" class="mainComment">
            <i class="material-icons">person_pin_circle</i>
            <p class="commentAuthor">{{comment.firstName}}</p>
            <p class="commentDate">{{comment.date | date: 'dd/MM/yyyy'}}</p>
            <p class="textComment">{{comment.comment}}</p>
            <div class="divBtnReply">
                <button mat-button class="replyBtn" (click)="reply(comment.id, comment.firstName)">Répondre</button>
            </div>
            <ul class="repliesComments">
                <li *ngFor="let respons of comment.repliesComment" class="repliesComment">
                    <i class="material-icons">person_pin_circle</i>
                    <p class="commentAuthor"> {{respons.firstName}} </p>
                    <p class="commentDate">{{respons.date | date: 'dd/MM/yyyy'}}</p>
                    <p class="textComment">{{respons.comment}}</p>
                    <div class="divBtnReply">
                        <button mat-button class="replyBtn" (click)="reply(comment.id, respons.firstName)">Répondre</button>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<form (ngSubmit)="onSubmit(addCommentForm)" #addCommentForm="ngForm" id="commentForm">
    <ng-template [ngIf]="showReply">
        <p>Répondre à <strong>{{responsToAuthor}}</strong></p>
    </ng-template>
    <mat-form-field>
        <input matInput placeholder="Prénom" name="firstName" ngModel required>
    </mat-form-field><br/>

    <mat-form-field class="addComment">
        <mat-label>Laisse un commentaire</mat-label>
        <textarea matInput required name="newComment" ngModel placeholder="Ex. Bonjour, merci pour ton article. Il m'a beaucoup appris." class="textAddComment"></textarea>
    </mat-form-field>

    <button mat-raised-button class="btnSubmit" color="primary"  id="btnSaveComment" type="submit" [disabled]="addCommentForm.invalid">Valider</button>
    <button mat-button class="btnSubmit" color="warn" id="btnCancelReply" (click)="cancelReply()" *ngIf="showReply">Annuler la Réponse</button>

    <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>
    <div *ngIf="showValidation" class="alert alert-success verticalSpace" role="alert">
        <p>Merci !</p>
        <p>Votre commentaire à bien été ajouté.</p>
    </div>
    <div *ngIf="failSave" class="alert alert-danger verticalSpace" role="alert">
        <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
    </div>
</form>
