<app-admin></app-admin>
<div class="container article">
    <div class="row">
        <div class="col-12 ">
            <h1>Convertisseur html généré par google doc en html simplifié</h1>
            <h2>Sur le Google doc:</h2>
            <ul>
                <li><p>Ajouter les images par URL</p></li>
                <li><p>Ajouter les liens vers URL</p></li>
            </ul>
            <h2>A faire ici :</h2>
            <ul>
                <li><p>Images :<strong>Modifier les sources, title et alt</strong> & vérifier les liens de redirection (nofollow)</p></li>
                <li><p>Liens à ne pas suivre, ajouter : target="_blank" rel="nofollow"</p></li>
            </ul>

            <!-- <mat-form-field class="inputText">
                <input matInput placeholder="Chemin du dossier de l'image. Exemple: sommeil-reparateur" name="articleName" [(ngModel)]="articleName" required>
            </mat-form-field><br/>
            <mat-form-field class="inputText">
                <input matInput placeholder="Titre de l'image" name="articleTitle" [(ngModel)]="articleTitle" required>
            </mat-form-field><br/>
            <mat-form-field class="inputText">
                <input matInput placeholder="Lien créateur image" name="linkImgCreator" [(ngModel)]="linkImgCreator" required>
            </mat-form-field><br/> -->

            <div *ngFor="let img of listImg; let index = index;" class="imgBlock">
                <mat-form-field class="inputText">
                    <input matInput placeholder="Nom du dossier de l'image. Exemple: sommeil-reparateur" name="articleName" [(ngModel)]="img.articleName" required>
                </mat-form-field><br/>
                <mat-form-field class="inputText">
                    <input matInput placeholder="Titre de l'image" name="articleTitle" [(ngModel)]="img.articleTitle" required>
                </mat-form-field><br/>
                <mat-form-field class="inputText">
                    <input matInput placeholder="Lien créateur image" name="linkImgCreator" [(ngModel)]="img.linkImgCreator">
                </mat-form-field><br/>
                <button mat-raised-button color="warn" (click)="delImg(index)">- IMG</button>
            </div>
            <div class="verticalSpace">
                <button mat-raised-button color="primary" (click)="addImg()">+ IMG</button>
                {{listImg && listImg.length ? "Nb img :"+ listImg.length : ""}}
            </div>

            <mat-form-field class="articleInput">
                <mat-label>Article - Coller l'article à traiter</mat-label>
                <textarea matInput [(ngModel)]="article" placeholder="Ex. Coller article avec le balisage HTML" class="textareaInput" id="articleInput"></textarea>
            </mat-form-field>
            <div class="btnSpace">
                <button mat-raised-button class="btnSubmit" color="primary"  id="btnValid" [disabled]="isDesabled()" (click)="handleTag()">Valider</button>
                <button mat-raised-button class="btnSubmit" color="primary" [disabled]="isDesabled()" (click)="copyToClipBoard()">Copier</button>
            </div>
            <div class="alert alert-warning verticalSpace" role="alert" *ngIf="imgDetected !== picturesAdded">
                Nombre d'images détectées : {{imgDetected}} / Nombre de pictures ajoutée : {{picturesAdded}}
            </div>
        </div>
    </div>
</div>