<div class="questionsBlock" [ngClass]="{'spaceForEmailForm': isQuizzCompleted && needToSubscribe}">

    <div
      *ngFor="let question of cardQuestions; let index = index;"
      >
        <div
          class="cardQuestions"
          *ngIf="(isBrowser && index === currentIndex) || (!isBrowser && index === 0)"
          swipe
          (next)="onChoice(false)"
          (previous)="onChoice(true)"
        >
            <mat-progress-bar mode="determinate" [value]="index | progressRatio : cardQuestions.length"></mat-progress-bar>
            <div class="cardQuestions__header">
              <p class="headerQuestion">Question {{index + 1}} sur {{cardQuestions.length}}</p>
              <p class="questionText">{{question.description}}</p>
            </div>

            <div class="cardQuestions__content">
              <ng-container *ngTemplateOutlet="questionTpl; context: {$implicit: question, index: index}"></ng-container>
            </div>

            <div class="cardFooterActionBar">
              <button mat-button color="primary" (click)="onPrevious()" [disabled]="!currentIndex">Retour</button>
              <button mat-raised-button color="primary" (click)="onNext()" [disabled]="disabled || !(question.answerValue | isAnswerSelected)">Suivant</button>
            </div>
        </div>
    </div>

    <div @completeQuizz *ngIf="isQuizzCompleted" class="cardQuestions cardValidation" [ngClass]="{'subscribeStep': needToSubscribe}">
      <ng-container *ngTemplateOutlet="needToSubscribe ? needToSubscribeTpl : (quizzCompleteTpl ? quizzCompleteTpl : defaultQuizzComplete);"></ng-container>
    </div>

</div>

<ng-template #defaultQuizzComplete>
    <p class="textEnd">Questionnaires complétés à 100 %</p>
    <div class="iconEnd"><mat-icon>done</mat-icon></div>
    <div class="cardFooterActionBar">
      <button mat-button color="primary" (click)="onPrevious()">Retour</button>
      <button mat-button color="primary" (click)="onNext()" [disabled]="true">Suivant</button>
    </div>
</ng-template>

<ng-template #needToSubscribeTpl>
  <p class="textEnd">Dernière étape avant d'obtenir ton résultat.</p>
  <div class="cardQuestions__subscribeStep__icon"><mat-icon>mail</mat-icon></div>
  <div class="cardQuestions__subscribeStep__email-form">
    <app-email-form (submitEmail)="onSubcribe();"></app-email-form>
  </div>
</ng-template>