.textareaInput {
    height: 20rem;
}

.articleInput {
    display: block;
}

.btnSpace button{
    margin: 0 0.5rem;
}

.inputText {
    width: 50%;
}

.alert {
    margin-top: 1rem;
}

table {
    width: 90%;
    margin: 2rem;
}