<div class="container divMailRetrieve">
    <div class="row">
        <div class="col">
            <div>
                <p class="bigSize marginTop"><strong>Gratuit : Guide du Bon Dormeur</strong></p>
                <ul>
                    <li><p>
                        <strong>Un programme idéal</strong> visant à <strong>se resynchroniser avec les besoins profonds du corps</strong>, comprenant les étapes clés.
                    </p></li>
                    <li><p>
                        <strong>Mes conseils inédits</strong>, testés et approuvés par un
                        <strong>ancien insiomniaque</strong> qui ne pensait pas que faire une
                        nuit complète était possible.
                    </p></li>
                </ul>
                <p>Pour le <strong>télécharger gratuitement</strong>, renseigne ton prénom et ton mail ci-dessous.</p>
            </div>
            <app-email-form></app-email-form>
        </div>
    </div>
</div>