<!--
    Rules:
    Pour mettre des titres utiliser les balises:
    h1, h2, h3
    Pour faire une citation utiliser la classe "citation"
-->
<div class="container article">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb olBreadcrumb">
          <li class="breadcrumb-item"><a href="https://sommeilprofond.fr/articles">Articles</a></li>
          <li class="breadcrumb-item active breadcrumb-articleTitle" aria-current="page">{{article ? article.title : ''}}</li>
        </ol>
    </nav>
    <div class="col- " id="articleContent" [innerHtml]="articleContent | safeHtml"></div>

    <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>

    <div *ngIf="failSave" class="alert alert-danger verticalSpace" role="alert">
        <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
    </div>

    <social-network-share-buttons
      [articleImg]="sharedArticleImg">
    </social-network-share-buttons>

    <div *ngIf="article && article.dateModified && articleRetrieve">
        <footer class="blockquote-footer">Ecrit le {{ article.dateModified | date: 'dd/MM/yyyy'}} par <cite>Romain</cite></footer>
    </div>

    <app-retrieve-mail></app-retrieve-mail>

    <app-comment *ngIf="article && article.id" [articleId]="article.id"></app-comment>

    <div class="articles">
        <h2 class="titleBottomLine">A lire aussi  :</h2>
        <app-articles *ngIf="article" [currentArticleName]="article.articleName" [hideDescription]="true" (loadArticleEvent)="loadArticle($event)"></app-articles>
    </div>
</div>