.article h1, h2, h3{
    font-weight: 600;
    line-height: 1em;
    color: #383838;
}

.article h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article h3{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}   

.article .citation{
    text-align: center;
    font-style: italic;
    font-weight: 550;
}

.article p{
    white-space: pre-wrap;
}

.article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 100%;
}

.imgBook{
    max-width: 50%;
}

.divMailRetrieve{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 2rem;
}

footer{
    margin-bottom: 1rem;
}

.article .titleReadMore{
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 0.5rem;
}

.articles{
    margin-bottom: 2rem;
}