.imgBook{
    max-width: 50%;
}

.divMailRetrieve{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

footer{
    margin-bottom: 1rem;
}

.articles{
    margin-bottom: 2rem;
}

.horizontalLine {
    width:  100%;
    border-top: 1px solid black;
}