<div class="container article">
    <div class="col- " id="articleContent">
        <h1>Mentions légales</h1>
        <h2>Hébergeur:</h2>
        <p>o2switch<br/>222-224 Boulevard Gustave Flaubert<br/>63000 Clermont-Ferrand</p>
        <p>Site de l'hébergeur: <a href="https://www.o2switch.fr/" rel="nofollow">o2switch.fr</a></p>

        <h2>Données personnelles:</h2>
        <p>Votre prénom, email sont collectés pour vous faire parvenir le bonus, les nouveaux articles ainsi que les offres commerciales, dans le strict respect de la réglementation européenne sur la collecte des données. Un lien de désabonnement sera disponible dans chaque mail envoyé.</p>
        <p>Vos données sont collectés dans une base de données sécurisés, hébergée par le site o2switch. Et ne sont pas partagés.</p>
        <p>Vous données sont conservées sur une base de 3ans, renouvelable avec votre consentement.</p>
        <h3>Droits d'accès, de rectification, d’effacement et à la limitation</h3>
        <p>Pour ça, envoyer un mail à romain.geffrault@gmail.com</p>
        <p>Vous pouvez à tout moment vous désinscrire de la newsletter. Dans chaque mail que je vous envoie, se trouve un lien pour se désinscrire.</p>
        <p>Vous avez le droit d’introduire une réclamation auprès de la CNIL.</p>

        <h2>Droits intellectuels</h2>
        <p>Les droits de propriété intellectuelle afférents au site www.sommeilprofond.fr appartiennent à Romain Geffrault.</p>
        <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site, sans l’autorisation de Romain Geffrault est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le code de la propriété intellectuelle et/ou le code civil.</p>
    </div>
</div>