<div class="overlay">
    <div class="popup" >
        <div class="header">
            <p>Gratuit : Programme du bon dormeur</p>
        </div>
        <p>
            Le site utilises des cookies pour analyser le trafic de notre site et améliorer la qualité des services.
        </p>
        <button mat-button color="primary"  >
          <span>
            Accepter
          </span>
        </button>
        <button mat-button color="secondary" >
          <span>
            Refuser
          </span>
          </button>
    </div>
</div>
