<article>

    <!-- <section>
        <div class="container article">

            <h2>Passe le test de vespéralité et matinalité</h2>
            <app-dolphin-quizz (dolphinQuizzComplet)="onDolphinQuizzComplet($event)"></app-dolphin-quizz>

        </div>
    </section> -->

    <section>
        <div class="container article">

            <h2>Passe le test de vespéralité et matinalité</h2>
            <app-biorythme-quizz (biorythmeQuizzComplet)="onDolphinQuizzComplet($event)"></app-biorythme-quizz>

        </div>
    </section>

</article>
