<article>

    <section>
        <div class="container article">

            <h2>Passe le test de vespéralité et matinalité</h2>
            <app-dolphin-quizz
              *ngIf="testIndex === 0"
              (dolphinQuizzComplet)="onQuizzComplet($event)"
              (nextTest)="onNextTest()"
              >
            </app-dolphin-quizz>
            <app-biorythme-quizz
              *ngIf="testIndex === 1"
              (biorythmeQuizzComplet)="onQuizzComplet($event)">
            </app-biorythme-quizz>

        </div>
    </section>

</article>
