@keyframes goDown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
    visibility: hidden;
  }
}

@keyframes goUp {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.popup {
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  padding: 20px;
  margin: 10px;
  border: black 2px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 1);
  animation: goUp 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

svg {
  margin-right: 16px;
}

p {
  display: inline;
}

.GoDown {
  animation: goDown 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  animation-delay: 200ms;
}

button {
  min-width: 90px;
}

button:focus {
  outline: none;
}

.primarySvg {
  fill: var(--primary-main);
}

.secondarySvg {
  fill: var(--secondary-main);
}
