<div class="container article">
    <div class="row">
        <div class="col-12 ">
            <h1>Ajouter un article en ligne</h1>
            <div class="alert alert-info" role="alert">
                <p>Cet outils ne permet pas de mettre en ligne les images.</p>
                <p>Il faut directement les ajouter sur le serveur.</p>
                <p><a href="https://docs.google.com/document/d/1MjXVge50LNW0aXJEvOZM9n4RsNnyIyVmZpVL3k9z0iE/edit?usp=sharing" target="_blank" rel="nofollow">Ce lien explique tous les formats d'image à ajouter.</a></p>
            </div>
            <h2>Informations nouvel article</h2>
            <mat-form-field class="inputText">
                <mat-label>Titre</mat-label>
                <input matInput placeholder="Ex. Comment avoir un sommeil réparateur ?" name="title" [(ngModel)]="article.title" required>
            </mat-form-field><br/>
            <mat-form-field class="inputText">
                <mat-label>Image / Page Articles</mat-label>
                <input matInput placeholder="Ex. sommeil-reparateur" [(ngModel)]="article.img" name="image-name" required>
            </mat-form-field><br/>
            <mat-form-field class="inputText">
                <mat-label>Titre de l'image</mat-label>
                <input matInput placeholder="Ex. Nuage blanc" name="imgTitle" [(ngModel)]="article.imgTitle" required>
            </mat-form-field><br/>
            <mat-form-field class="inputText">
                <mat-label>Nom de l'article dans l'URL</mat-label>
                <input matInput placeholder="Ex. 4-choses-a-savoir-sommeil-leger" name="articleURLName" [(ngModel)]="article.articleName" required>
            </mat-form-field>
            <mat-form-field class="articleInput">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="article.description" name="articleDesc" placeholder="Ex. Article sur les problèmes de sommeil." class="textareaInput" required></textarea>
            </mat-form-field>
            <mat-form-field class="articleInput">
                <mat-label>Meta-Description</mat-label>
                <textarea matInput [(ngModel)]="article.metaDesc" name="articleMetaDesc" placeholder="Ex. Article sur les problèmes de sommeil." class="textareaInput" required></textarea>
            </mat-form-field>
            <div class="btnSpace">
                <button mat-button class="btnSubmit" color="primary" [disabled]="!article.description" (click)="copyDescToMetaDeasc()">Copier Description to Meta-Description</button>
            </div>

            <h2>Formater HTML Google Doc</h2>
            <div class="alert alert-info" role="alert">
                <p>Sur le Google Doc:</p>
                <ul>
                    <li><p>Ajouter les images depuis l'ordinateur.</p></li>
                    <li><p>Ajouter les liens vers les URL.</p></li>
                </ul>
            </div>
            <h2>A faire ici :</h2>
            <ul>
                <li><p>Images :<strong>Modifier les sources, title et alt</strong> & vérifier les liens de redirection (nofollow)</p></li>
                <li><p>Liens à ne pas suivre, ajouter : target="_blank" rel="nofollow"</p></li>
            </ul>

            <div *ngFor="let img of listImg; let index = index;" class="imgBlock">
                <mat-form-field class="inputText">
                    <input matInput placeholder="Nom du dossier de l'image. Exemple: sommeil-reparateur" name="articleName" [(ngModel)]="img.articleName" required>
                </mat-form-field><br/>
                <mat-form-field class="inputText">
                    <input matInput placeholder="Titre de l'image" name="articleTitle" [(ngModel)]="img.articleTitle" required>
                </mat-form-field><br/>
                <mat-form-field class="inputText">
                    <input matInput placeholder="Lien créateur image" name="linkImgCreator" [(ngModel)]="img.linkImgCreator">
                </mat-form-field><br/>
                <button mat-raised-button color="warn" (click)="delImg(index)">- IMG</button>
            </div>
            <div class="verticalSpace">
                <button mat-raised-button color="primary" (click)="addImg()">+ IMG</button>
                {{listImg && listImg.length ? "Nb img :"+ listImg.length : ""}}
            </div>

            <mat-form-field class="articleInput">
                <mat-label>Article - Coller l'article à traiter</mat-label>
                <textarea matInput [(ngModel)]="articleText" placeholder="Ex. Coller article avec le balisage HTML" class="textareaArticleInput" id="articleInput"></textarea>
            </mat-form-field>
            <div class="btnSpace">
                <button mat-raised-button class="btnSubmit" color="primary"  id="btnValid" [disabled]="isDesabled()" (click)="handleTag()">Valider</button>
                <button mat-raised-button class="btnSubmit" color="primary" [disabled]="isDesabled()" (click)="copyToClipBoard()">Copier</button>
            </div>
            <div class="alert alert-warning verticalSpace" role="alert" *ngIf="imgDetected !== picturesAdded">
                Nombre d'images détectées : {{imgDetected}} / Nombre de pictures ajoutée : {{picturesAdded}}
            </div>
            <div class="verticalSpace">
                <button mat-raised-button class="btnSubmit" color="primary" id="sendOnlineBTN" [disabled]="!sendAuthorized()" (click)="sendNewArticle()">Mettre en ligne</button>
            </div>
            <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>
            <div *ngIf="showValidation" class="alert alert-success" role="alert">
                <p>L'article à bien été mis en ligne.</p>
            </div>
            <div *ngIf="failSave" class="alert alert-danger" role="alert">
                <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
            </div>
        </div>
    </div>
</div>