<app-admin></app-admin>
<div class="container article">
    <div class="row">
        <div class="col-12 ">
            <table mat-table [dataSource]="allDriveFiles" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Nom de l'article </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="modifiedTime">
                  <th mat-header-cell *matHeaderCellDef> Google Drive </th>
                  <td mat-cell *matCellDef="let element"> {{element.modifiedTime | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="articleDateModified">
                  <th mat-header-cell *matHeaderCellDef> Mise à jour </th>
                  <td mat-cell *matCellDef="let element"> {{element.articleDateModified | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.name]"
                 [ngClass]="{
                   'oldArticle': row.articleDateModified && (row.modifiedTime > row.articleDateModified),
                   'noArticle': !row.articleDateModified}"></tr>

              </table>
            <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>
            <div *ngIf="showValidation" class="alert alert-success" role="alert">
                <p>Récupération ok</p>
            </div>
            <div *ngIf="failSave" class="alert alert-danger" role="alert">
                <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
            </div>
        </div>
    </div>
</div>