<div class="container article">
    <div class="row">
        <div class="col-12 ">
            <h1>Ajouter/Mettre à jour un article en ligne</h1>
            <div class="alert alert-info" role="alert">
                <p>Dans le Google Doc, ajouter le title et le alt sur chaque image.</p>
                <p>Le titre et la meta-description sont optionnelles.</p>
                <p>Si le titre n'est pas remplie, on récupère la balise h1.</p>
                <p>Si la meta-description n'est pas remplie, on récupère la balise "## meta : ...##"</p>
            </div>
            <h2>Informations nouvel article</h2>
            <mat-form-field class="inputText">
                <mat-label>Titre / Entre 40 et 70 caract : {{article.title ? article.title.length : ''}}</mat-label>
                <input matInput placeholder="Ex. Comment avoir un sommeil réparateur ?" name="title" [(ngModel)]="article.title">
            </mat-form-field><br/>

            <mat-form-field class="articleInput">
                <mat-label>Meta-Description / Entre 70 et 160 caract : {{article.metaDesc ? article.metaDesc.length : ''}}</mat-label>
                <textarea matInput [(ngModel)]="article.metaDesc" name="articleMetaDesc" placeholder="Ex. Article sur les problèmes de sommeil." class="textareaInput"></textarea>
            </mat-form-field>

            <!-- <mat-form-field *ngIf="articleCreation">
                <mat-label>Date de publication</mat-label>
                <input matInput type="datetime-local" [(ngModel)]="article.datePublished" placeholder="Choisir date de publication">
            </mat-form-field> -->

            <div class="verticalSpace" *ngIf="!articleCreation && (article.metaDesc !== defaultMetaDescription || article.title !== defaultTitle)">
                <button mat-raised-button class="btnSubmit" color="primary" (click)="refreshTitleAndMetaDesc()">Refresh</button>
            </div>

            <div class="verticalSpace">
                <button mat-raised-button class="btnSubmit sendOnlineBTN" color="primary" (click)="sendArticle()">Mettre en ligne</button>
            </div>
            <div class="verticalSpace" *ngIf="!articleCreation">
                <button mat-raised-button class="btnSubmit sendOnlineBTN" color="accent" (click)="sendArticle(true)">Mettre à jour uniquement le texte</button>
            </div>
            <div *ngIf="imgListFail.length" class="alert alert-danger" role="alert">
                <p>Toutes les images n'ont pas été créées.</p>
                <ng-container *ngFor="let img of imgListFail;">
                    <p>L'image <strong>{{img.title}}</strong> n'a pas été créée.</p>
                </ng-container>
                <div class="verticalSpace">
                    <button mat-raised-button class="btnSubmit sendOnlineBTN" color="primary" (click)="retryUploadImg()">Mettre les images en lignes</button>
                </div>
            </div>

            <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>

            <div *ngIf="showValidation" class="alert alert-success" role="alert">
                <p >Article créé et mis en ligne.</p>
                <p *ngIf="!imgListFail || (imgListFail && !imgListFail.length)">Images mises en ligne.</p>
            </div>
            <div *ngIf="failSave" class="alert alert-danger" role="alert">
                <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
                <p>{{failMsg | json}}</p>
            </div>

        </div>
    </div>
</div>