<div class="container article">
    <div class="col- " id="articleContent">

      <h1>Qui suis-je ?</h1>

      <p>Je suis Romain Geffrault.</p>
      <p>D'aussi loin que je me rappelle, j'ai toujours eu des problèmes de sommeil.</p>
      <p>Peut-être que vous rencontrez les mêmes problèmes ?</p>
      <p>Je me réveillais plusieurs fois par nuits jusqu'à 5 fois.</p>
      <p>J'en profitais pour aller aux toilettes.</p>
      <p>De plus, je m'étais parfois plusieurs heures avant de me rendormir. Et c'était encore pire en période stressante, examens...</p>
      <p>A chaque fois, je regardais l'heure et je calculais le temps de sommeil restant. Plus la nuit avançait, plus cela était angoissant.</p>
      <p>Je me voyais déjà le lendemain matin, réveillé par le réveil fatigué pour toute la journée. </p>
      <p>Pourtant, je faisais comme tout le monde.</p>
      <p>Mais eux passaient leurs nuits à dormir profondément.</p>

      <img class="imgBook" src="assets/logo/zzzLogo.png" alt="Logo sommeil profond ZZZ">

      <h2>En octobre 2018, j'ai enfin réussi ma première une nuit complète.</h2>
      <p>J'ai commencé par demander des conseils autour de moi.</p>
      <p>J'appliquais, j'appliquais... mais rien à faire.</p>
      <p>Puis, j'ai regardé sur Internet.</p>
      <p>Les conseils, n'étaient pas clairs. Balancés sans explication. Et sans méthode concrète.</p>
      <p>Bref, un échec...</p>
      <p>J'en ai eu marre.</p>
      <p>J'ai décidé d'acheté plein de livres sur le sujet et regarder les études sur le sommeil.</p>
      <p>J'ai pris des notes et élaboré un plan.</p>
      <p>J'ai présenté ce plan qui ne payait pas de mine à mon entourage. Personnes n'y croyaient.</p>
      <p>J'aurais pu suivre leur avis, mais j'ai essayé.</p>
      <p>Après tout, ils n'ont jamais fait de recherche sur le sujet. Alors pourquoi les écouter ?</p>
      <p>Un soir, j'ai suivi exactement le plan.</p>
      <p>J'ai commencé par l'étape 1... Puis, à 23h30 je suis allé me coucher.</p>
      <p>Je me suis réveillé le lendemain matin à 6h.</p>
      <p><strong>Le bonheur d'avoir passé 6h d'affilé à dormir profondément !</strong></p>

      <img class="imgBook" src="assets/logo/sleepingLogo.png" alt="Logo sommeil profond">

      <h2>Comment je peux vous aider ?</h2>
      <p>Quand j'entends des personnes dans mon entourage se plaindre de leur mauvaise nuit.</p>
      <p>Je leur pose des questions.</p>
      <p>A chaque fois, ils ont de très mauvaises habitudes qui gâchent le sommeil.</p>
      <p>Je partage un peu de mon expérience, et je donne des petites astuces.</p>
      <p>Souvent rapide et facile à mettre en place.</p>
      <p>Dans la majorité des cas, je sens qu'ils n'ont aucune envie modifier leurs habitudes.</p>
      <p>Même si cela leur permettrait de mieux dormir et surtout d'être en meilleure santé.</p>
      <p>Quand je les recroise, même constat. Mal dormi... Mais ils continuent à faire les mêmes erreurs.</p>
      <p>Bref, mon but est de vous donner toutes les clés et de vous accompagner pour que vous puissiez enfin dormir profondément.</p>
      <p>Je vous aiderai même à construire un plan personnalisé comme j'ai pu le faire pour moi.</p>
      <p>Je continue toujours mes recherches, j'essaie de comprendre les problèmes de sommeil des autres et comment apporter des solutions.</p>
      <p>Ceux qui ont m'y en place mes conseils. On résolu leurs problèmes.</p>
      <p>Mais tous mes conseils et outils, ne valent rien sans que vous ne passiez à l'action.</p>

      <h2>Naturel & Priorité sur la santé</h2>
      <p>Pour l'ensemble des conseils que je donne. Je mets toute ma sagesse bienveillance possible.</p>
      <p>C'est-à-dire que tous les conseils que je donne, sont bienveillants et bon pour votre santé.</p>
      <p>A moins que vous soyez dans un cas très grave, je ne conseillerai jamais de prendre des somnifères ou autre produit pouvant nuire à votre santé.</p>
      <p>Bien que ces produits sont facilement procurables, ils sont très nuisibles pour votre santé.</p>
      <p>La bonne nouvelle, c'est que tout le monde peut retrouver un sommeil de qualité sans médicament.</p>
      <p>Tous les spécialistes le disent.</p>
      <p>Tous les changements vont venir uniquement de vous et de vos actions et de rien d'autre.</p>

      <h2>Voici ce que vous devez faire</h2>
      <p>Pour commencer, récupérez le bonus que vous pouvez trouver en bas de la page.</p>
      <p>Appliquer ces premiers conseils. Vous devriez déjà avoir des résultats.</p>
      <p>Puis regarder régulièrement les articles postés sur le site Sommeil Profond.</p>
      <p>Si vous voulez aller plus loin. Je proposerai du contenu pour vous aider.</p>

      <div class="divMailRetrieve leftAlign">
        <app-retrieve-mail></app-retrieve-mail>
      </div>
    </div>
  </div>