<div class="container article">
    <div class="col- " id="articleContent">

      <h1>Qui suis-je ?</h1>

      <p>Je suis Romain Geffrault.</p>
      <p>D'aussi loin que je me rappelle, j'ai toujours eu des problèmes de sommeil.</p>
      <p>Peut-être que vous rencontrez les mêmes problèmes ?</p>
      <p>Je me réveillais plusieurs fois par nuits jusqu'à 5 fois.</p>
      <p>J'en profitais pour aller aux toilettes.</p>
      <p>De plus, je m'étais parfois plusieurs heures avant de me rendormir. Et c'était encore pire en période stressante, examens...</p>
      <p>A chaque fois, je regardais l'heure et je calculais le temps de sommeil restant. Plus la nuit avançait, plus cela était angoissant.</p>
      <p>Je me voyais déjà le lendemain matin, réveillé par le réveil fatigué pour toute la journée. </p>
      <p>Pourtant, je faisais comme tout le monde.</p>
      <p>Mais eux passaient leurs nuits à dormir profondément.</p>

      <img class="imgBook" src="assets/logo/zzzLogo.png" alt="Logo sommeil profond ZZZ">

      <h2>En octobre 2018, j'ai enfin réussi ma première une nuit complète.</h2>
      <p>J'ai commencé par demander des conseils autour de moi.</p>
      <p>J'appliquais, j'appliquais... mais rien à faire.</p>
      <p>Puis, j'ai regardé sur Internet.</p>
      <p>Les conseils, n'étaient pas clairs. Balancés sans explication. Et sans méthode concrète.</p>
      <p>Bref, un échec...</p>
      <p>J'en ai eu marre.</p>
      <p>J'ai décidé d'acheté plein de livres sur le sujet et regarder les études sur le sommeil.</p>
      <p>J'ai pris des notes et élaboré un plan.</p>
      <p>J'ai présenté ce plan qui ne payait pas de mine à mon entourage. Personnes n'y croyaient.</p>
      <p>J'aurais pu suivre leur avis, mais j'ai essayé.</p>
      <p>Après tout, ils n'ont jamais fait de recherche sur le sujet. Alors pourquoi les écouter ?</p>
      <p>Un soir, j'ai suivi exactement le plan.</p>
      <p>J'ai commencé par l'étape 1... Puis, à 23h30 je suis allé me coucher.</p>
      <p>Je me suis réveillé le lendemain matin à 6h.</p>
      <p><strong>Le bonheur d'avoir passé 6h d'affilé à dormir profondément !</strong></p>

      <img class="imgBook" src="assets/logo/sleepingLogo.png" alt="Logo sommeil profond">

      <h2>Vous avez un problème de sommeil ?</h2>

      <p>Avez-vous un des problèmes parmi ceux cité ci-dessous ?</p>
      <ul>
        <li>Vous avez du mal à vous endormir le soir ?</li>
        <li>Vous vous réveillez plusieurs fois par nuit ?</li>
        <li>Vous mettez du temps à vous rendormir lorsque vous vous réveillez ?</li>
        <li>Vous avez du mal à vous réveiller le matin ?</li>
        <li>Vous manquez d'énergie dans la journée ?</li>
        <li>Vous vous sentez toujours fatigué ?</li>
        <li>Vous buvez plusieurs tasses de café ?</li>
        <li>Vous pensez pouvoir améliorer la qualité de votre sommeil ?</li>
        <li>Vous rattrapez le sommeil en retard le week-end ?</li>
        <li>Vous voulez optimiser votre énergie dans la journée ?</li>
      </ul>
      <p>Si vous répondez oui à une ou plusieurs de ces questions.</p>
      <p><strong>Je peux vous aider !</strong></p>

      <p>Les médecins du sommeil sont unanimes.</p>
      <p><strong>Tout le monde peut retrouver un sommeil de qualité.</strong></p>

      <p>J'avais plusieurs des problèmes cités ci-dessus.</p>
      <p>Grâce à mes nombreuses recherches.</p>
      <p><strong>Je les ai tous résolus.</strong></p>

      <p>Je passe mes nuits à dormir profondément.</p>
      <p>Je me réveille en pleine forme le matin sans réveil.</p>
      <p><strong>Vous aussi vous avez le droit à un sommeil profond !</strong></p>

      <p>Ici, je ne vous conseillerai pas de médicament, pas de somnifère.</p>
      <p><strong>Vous allez améliorer votre qualité de sommeil naturellement.</strong></p>

      <h2>Pour commencer à améliorer votre sommeil</h2>
      <p>Vous pouvez récupérer le bonus que vous pouvez trouver en bas de la page.</p>
      <p>Appliquer ces premiers conseils.</p>
      <p>Vous devriez déjà avoir des résultats.</p>
      <p>Puis regarder régulièrement les articles postés sur le site Sommeil Profond.</p>
      <p>Si vous voulez aller plus loin. Je proposerai du contenu pour vous aider.</p>

      <div class="divMailRetrieve leftAlign">
        <app-retrieve-mail></app-retrieve-mail>
      </div>
    </div>
  </div>