<div class="container divMailRetrieve">
    <div class="row">
        <div class="col">
            <div>
                <p class="bigSize marginTop"><strong>Guide du Bon Dormeur :</strong></p>
                <ul>
                    <li><p><strong>Planning du Bon Dormeur</strong></p></li>
                    <li><p><strong>4 points fondamentaux à respecter pour être un Bon Dormeur</strong></p></li>
                </ul>
                <p>Pour le <strong>télécharger gratuitement</strong>, renseigne ton prénom et ton mail ci-dessous.</p>
            </div>
            <form (ngSubmit)="onSubmit(mailAdress)" #mailAdress="ngForm">
                <mat-form-field>
                    <input matInput placeholder="Prénom" name="firstName" ngModel required>
                </mat-form-field><br/>

                <mat-form-field style="width:300px !important;max-width: 100%;">
                    <input matInput placeholder="Adresse mail" name="email" ngModel required email>
                </mat-form-field><br/>

                <div *ngIf="isBrowser && mailAdress.value.firstName && mailAdress.value.email">
                    <mat-checkbox name="agreement" [(ngModel)]="agreement"><span class="wrap">J'ai pris connaissance des conditions d'utilisation de mes informations:</span></mat-checkbox><br/>
                    <p class="smallText">Votre email est collecté pour vous faire parvenir le bonus, les nouveaux articles ainsi que les offres commerciales, dans le strict respect de la réglementation européenne sur la collecte des données. Un lien de désabonnement sera disponible dans chaque mail envoyé. La politique de confidentialité est accessible depuis un lien situé en bas de cette page.</p>
                </div>

                <button mat-raised-button class="btnSubmit" color="primary" id="btnSaveMail" type="submit" [disabled]="mailAdress.invalid || !agreement">Valider</button>
            </form>
            <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>
            <div *ngIf="showValidation" class="alert alert-success" role="alert">
                <p>Merci !</p>
                <p>D'ici quelques minutes, tu recevras le bonus dans ta boîte mail.</p>
            </div>
            <div *ngIf="failSave" class="alert alert-danger" role="alert">
                <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
            </div>
        </div>
    </div>
</div>