.form-group{
    margin-right: auto;
    margin-left: auto;
}

label {
    font-weight: bold;
}

.divMailRetrieve{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btnSubmit {
    margin-bottom: 1rem;
}

.alert-success {
    margin-bottom: 1rem;
}