.form-group{
    margin-right: auto;
    margin-left: auto;
}

label {
    font-weight: bold;
}

.divMailRetrieve{
    margin: 3rem 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btnSubmit {
    margin-bottom: 1rem;
}

.alert-success {
    margin-bottom: 1rem;
}

.verticalSpace {
    margin: 2rem 0;
}

.bigSize {
    font-size: 1.5rem;
}

.marginTop {
    margin-top: 1rem;
}