.form-group{
    margin-right: auto;
    margin-left: auto;
}

.mailInput{
    max-width: 350px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

label {
    font-weight: bold;
}

.divMailRetrieve{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}