<div class="container article" *ngIf="isAuth">
    <div class="row">
        <div class="col-12 ">
            <button mat-button [matMenuTriggerFor]="adminMenu">
            <span class="material-icons">menu</span>
            </button>
            <mat-menu #adminMenu="matMenu" xPosition="after">
                <a routerLink="/admin/newArticle" class="nav-link">Article</a>
                <a routerLink="/admin/mail" class="nav-link">Mails</a>
            </mat-menu>
            <button mat-button color="warn" (click)="logout()">Déconnexion</button>
        </div>
    </div>
</div>