<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">

    <mat-step [stepControl]="nameFormGroup" label="Pénom">
      <form [formGroup]="nameFormGroup">
        <mat-form-field>
          <input matInput placeholder="Prénom" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button color="primary" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="emailFormGroup" label="Email">
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <input matInput placeholder="Adresse mail" formControlName="email" required>
        </mat-form-field>

        <mat-checkbox formControlName="rgpd"><span class="text">J'ai pris connaissance des conditions d'utilisation de mes informations:</span></mat-checkbox><br/>
        <p class="smallText">Votre email est collecté pour vous faire parvenir le bonus, les nouveaux articles ainsi que les offres commerciales, dans le strict respect de la réglementation européenne sur la collecte des données. Un lien de désabonnement sera disponible dans chaque mail envoyé. La politique de confidentialité est accessible depuis un lien situé en bas de cette page.</p>

        <div>
          <button mat-button matStepperPrevious>Précédent</button>
          <button mat-button (click)="onSubmit()" color="primary" matStepperNext>Résultat</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Résultat">
      <!-- Results projection from parents -->
      <ng-content></ng-content>
      <div>
          <button mat-button (click)="stepper.reset()">Recommencer</button>
        </div>
    </mat-step>

  </mat-horizontal-stepper>