<article>


    <section>
        <div class="container article">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb olBreadcrumb">
                <li class="breadcrumb-item"><a href="https://sommeilprofond.fr/articles">Articles</a></li>
                <li class="breadcrumb-item active breadcrumb-articleTitle" aria-current="page">Test de d&eacute;pistage d&rsquo;apn&eacute;e du sommeil en 14 questions</li>
                </ol>
            </nav>

            <h1>Test de d&eacute;pistage d&rsquo;apn&eacute;e du sommeil en 14 questions</h1>
            <p><span
                ><picture
                ><source
                    media="(min-width: 1200px)"
                    srcset="
                    https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img1/article/xl.jpg
                    " />
                <source
                    media="(min-width: 992px)"
                    srcset="
                    https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img1/article/l.jpg
                    " />
                <source
                    media="(min-width: 768px)"
                    srcset="
                    https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img1/article/xm.jpg
                    " />
                <source
                    media="(min-width: 576px)"
                    srcset="
                    https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img1/article/m.jpg
                    " />
                <img
                    src="https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img1/article/m.jpg"
                    alt="Test de d&eacute;pistage apn&eacute;e du sommeil"
                    title="Test de d&eacute;pistage apn&eacute;e du sommeil"
                    class="fullWidth" /></picture
            ></span>
            </p>
            <p>Mesure ton risque de faire des apn&eacute;es du sommeil gr&acirc;ce &agrave;
            ce questionnaire gratuit.
            </p>
            <p><span style="font-weight: 700"
                >Ce test &agrave; une bonne fiabilit&eacute;</span
            >&nbsp;et est utilis&eacute; dans les cliniques afin de d&eacute;terminer le
            risque d&rsquo;une personne &agrave; faire des apn&eacute;es du sommeil.
            </p>
            <p>Ce quiz est compos&eacute; de 2 tests de d&eacute;pistages du SAHOS (le
            Syndrome D&rsquo;apn&eacute;es Hypopn&eacute;es Obstructives du Sommeil). Il
            comporte
            <span style="font-weight: 700">un premier test appel&eacute; NoSAS</span>,
            puis
            <span style="font-weight: 700">un deuxi&egrave;me nomm&eacute; STOP BANG</span
            >. R&eacute;pondre &agrave; ses 2 questionnaires augmente la fiabilit&eacute;
            du r&eacute;sultat.
            </p>
            <p>Je te propose donc de
            <span style="font-weight: 700"
                >r&eacute;pondre tr&egrave;s rapidement &agrave; 14 questions par oui ou
                non</span
            >. De plus, certaines questions demandent de conna&icirc;tre son indice de
            masse corporelle (IMC), pour te faciliter la t&acirc;che, j&rsquo;ai inclus un
            calculateur directement dans la question.
            </p>
            <p>Toutefois, pour r&eacute;pondre &agrave; l&rsquo;ensemble des questions, il
            faudra que tu
            <span style="font-weight: 700">mesures ton tour de cou</span>&nbsp;(au niveau
            de la pomme d&rsquo;adam). Il faudra donc un ma&icirc;tre, ou une ficelle et
            une r&egrave;gle pour le mesurer.
            </p>
        </div>
    </section>

    <section>
        <div class="container article">

            <h2>Passe le test du SOHAS</h2>

            <binary-quizz [binaryQuestions]="quizz">
                <div class="extra" extra>
                    <bmi-calculator></bmi-calculator>
                </div>
            </binary-quizz>
        </div>
    </section>

    <section>
        <div class="container article">
            <h2>Obtiens ton résultat</h2>

            <quizz-mail-stepper (onShowResult)="onGetScore()">

                <!-- Quizz not completed -->
                <ng-container *ngIf="quizzNoSASNotCompleted || quizzStopBangNotCompleted">
                    <p>Oups, il semblerait que tu n'ai pas répondu à l'ensemble des questions du test {{ quizzNoSASNotCompleted ? "NoSAS" : "StopBang"}}.</p>
                    <p>Il te suffit de le compléter pour afficher ton score.</p>
                </ng-container>

                <ng-container *ngIf="!quizzNoSASNotCompleted && !quizzStopBangNotCompleted && riskNoSas">
                    <div class="scoreDisplay">
                        <div class="resultCard">
                            <p class="headerQuizz">NoSAS</p>
                            <p>Score : <span>{{noSasScore}}</span></p>
                            <p>Risque : <span class="risk">{{riskNoSas}}</span></p>
                        </div>
                        <dib class="resultCard">
                            <p class="headerQuizz">STOP BANG</p>
                            <p>Score : <span>{{stopBangScore}}</span></p>
                            <p>Risque : <span class="risk">{{riskStopBang}}</span></p>
                        </dib>
                    </div>
                    <p>Les interprétations de tes résultats sont disponibles ci-dessous.</p>
                </ng-container>

            </quizz-mail-stepper>
        </div>

    </section>

    <section>
        <div class="container article">
            <h2>
                <span style="font-size: 16pt"
                >Interpr&eacute;ter son r&eacute;sultat au test de d&eacute;pistage
                d&rsquo;apn&eacute;e du sommeil</span
                >
            </h2>
            <p><span
                ><picture
                    ><source
                    media="(min-width: 1200px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img2/article/xl.jpg
                    " />
                    <source
                    media="(min-width: 992px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img2/article/l.jpg
                    " />
                    <source
                    media="(min-width: 768px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img2/article/xm.jpg
                    " />
                    <source
                    media="(min-width: 576px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img2/article/m.jpg
                    " />
                    <img
                    src="https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img2/article/m.jpg"
                    alt="Interpr&eacute;ter ses r&eacute;sultats d&#39;apn&eacute;e du sommeil"
                    title="Interpr&eacute;ter ses r&eacute;sultats d&#39;apn&eacute;e du sommeil"
                    class="fullWidth" /></picture
                ></span>
            </p>
            <h3>STOP BANG : Score de 0 &agrave; 2, faible risque d&rsquo;apn&eacute;e du
                sommeil
            </h3>
            <p>D&rsquo;apr&egrave;s l&rsquo;&eacute;chelle STOP-BANG, tu ne pr&eacute;sentes
                pas de signes favorisant les apn&eacute;es du sommeil. Toutefois,
                d&rsquo;autres causes non &eacute;valu&eacute;es dans ce test peuvent
                provoquer des crises de SAHOS. N&rsquo;h&eacute;site pas &agrave; faire le
                bilan avec ton m&eacute;decin en cas de doute.
            </p>
            <h3>STOP BANG : Score de 2 &agrave; 3, risque mod&eacute;r&eacute;
                d&rsquo;apn&eacute;e du sommeil
            </h3>
            <p>D&#39;apr&egrave;s le test du STOP-BANG, tu pr&eacute;sentes plusieurs signes
                favorisant les crises d&rsquo;apn&eacute;e du sommeil. N&rsquo;h&eacute;site
                pas &agrave; passer un test dans une clinique du sommeil pour valider la
                pr&eacute;sence de ce syndrome. En particulier si tu pr&eacute;sentes des
                signes de fatigue et d&rsquo;un sommeil non r&eacute;cup&eacute;rateur.
            </p>
            <h3>STOP BANG : Score de 4 &agrave; 8, risque &eacute;lev&eacute;
                d&rsquo;apn&eacute;e du sommeil
            </h3>
            <p>D&eacute;passer un score de 4 sur le quiz du STOP BANG, signifie que tu as un
                risque &eacute;lev&eacute; de faire des apn&eacute;es du sommeil.
            </p>
            <p>Ce risque est d&rsquo;autant plus grand, si tu es un homme, ou que ton tour de
                cou est important, ou que ton IMC est sup&eacute;rieur &agrave; 35 kg/m&sup2;,
                et que tu as r&eacute;pondu oui &agrave; au moins 2 de ces questions :
            </p>
            <ul>
                <li>tu ronfles,</li>
                <li>tu es fatigu&eacute;,</li>
                <li>
                quelqu&rsquo;un t&rsquo;as d&eacute;j&agrave; vu arr&ecirc;t&eacute; de
                respirer pendant ton sommeil,
                </li>
                <li>tu fais de l&rsquo;hypertension art&eacute;rielle.</li>
            </ul>
            <p>Si c&rsquo;est ton cas, ton risque SAHOS est alors s&eacute;v&egrave;re. Je te
                recommande de prendre un rendez-vous le plus rapidement possible dans un
                centre du sommeil. Et surtout, de prendre soin de toi et de ne pas te mettre
                en danger, en particulier sur la route.
            </p>
            <h3>NoSAS : Score de 0 &agrave; 7, risque faible d&rsquo;apn&eacute;e ou
                d&#39;hypopn&eacute;e du sommeil
            </h3>
            <p>Ton r&eacute;sultat au test NoSAS, n&rsquo;indique pas significativement un
                risque d&rsquo;apn&eacute;e ou d&#39;hypopn&eacute;e du sommeil.
                N&rsquo;h&eacute;site pas &agrave; prendre en compte ton r&eacute;sultat au
                test Stop bang pour plus de pr&eacute;cision. Toutefois, si tu as des doutes,
                il ne faut pas h&eacute;siter &agrave; se tourner vers un centre
                sp&eacute;cialis&eacute; dans le sommeil.
            </p>
            <h3>
               NoSAS : Score de 8 et 20, risque &eacute;lev&eacute; d&rsquo;apn&eacute;e
                ou d&rsquo;hypopn&eacute;e du sommeil
            </h3>
            <p>Avoir un r&eacute;sultat sup&eacute;rieur &agrave; 7 au quiz du NoSAS indique
                que tu as un risque &eacute;lev&eacute; de pr&eacute;senter un trouble
                d&rsquo;apn&eacute;e ou d&rsquo;hypopn&eacute;e du sommeil (SAHOS). Il faut
                prendre en compte les r&eacute;sultats du questionnaire du STOP BANG pour plus
                de pr&eacute;cision.
            </p>
            <p>Dans tous les cas, je te recommande de prendre rapidement un rendez-vous chez
                un sp&eacute;cialiste du sommeil pour te faire accompagner.
            </p>
            <h2>
                <span style="font-size: 16pt"
                >Que faire lorsque le r&eacute;sultat indique un risque d&rsquo;apn&eacute;e
                du sommeil ?</span
                >
            </h2>
            <p><span
                ><picture
                    ><source
                    media="(min-width: 1200px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img3/article/xl.jpg
                    " />
                    <source
                    media="(min-width: 992px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img3/article/l.jpg
                    " />
                    <source
                    media="(min-width: 768px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img3/article/xm.jpg
                    " />
                    <source
                    media="(min-width: 576px)"
                    srcset="
                        https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img3/article/m.jpg
                    " />
                    <img
                    src="https://sommeilprofond.fr/sleeping-bs/img/test-depistage-apnee-sommeil/img3/article/m.jpg"
                    alt="Que faire en cas d&#39;apn&eacute;e du sommeil"
                    title="Que faire en cas d&#39;apn&eacute;e du sommeil"
                    class="fullWidth" /></picture
                ></span>
            </p>
            <p>Si ton test indique un risque mod&eacute;r&eacute; ou &eacute;lev&eacute; de
                SAHOS, je t&rsquo;invite &agrave; contacter une clinique du sommeil.
            </p>
            <p>En g&eacute;n&eacute;ral, le m&eacute;decin qui te prendra en charge va
                essayer de d&eacute;terminer la cause des apn&eacute;es. Dans la grande
                majorit&eacute; des cas, les apn&eacute;es sont dues &agrave; un surpoids. Ils
                pourront aussi, te faire passer un enregistrement de ton sommeil &agrave;
                l&rsquo;aide de capteurs &agrave; placer sur sa t&ecirc;te. Cet enregistrement
                peut, selon les cas, &ecirc;tre fait &agrave; ton domicile.
            </p>
            <p>Suite &agrave; cet enregistrement, ils d&eacute;cideront du meilleur
                traitement &agrave; adopter.
            </p>
            <p>Le traitement le plus r&eacute;pandu et le plus efficace est la mise en place
                d&rsquo;un masque PCC. Il faut le placer sur le nez et/ou la bouche. Ce masque
                aide &agrave; respirer lorsqu&rsquo;une crise d&rsquo;apn&eacute;e
                appara&icirc;t.
            </p>
            <p>Bien que la mise en place d&rsquo;un masque PCC, peut aider &agrave; bien
                dormir, cela ne r&egrave;gle pas la cause. Dans le cas o&ugrave; ce serait un
                surpoids qui cause ces apn&eacute;es, je te sugg&egrave;re de perdre un peu de
                poids afin de ne pas avoir l&rsquo;obligation de porter un masque PCC toute sa
                vie.
            </p>
            <p>Pour en savoir plus sur les apn&eacute;es du sommeil, je t&rsquo;invite
                &agrave; te renseigner sur cet article :
                <a href="https://sommeilprofond.fr/articles/12-signes-apnee-du-sommeil"
                    >12 signes qui montrent que tu souffres d&rsquo;apn&eacute;e du sommeil</a
                >
                , o&ugrave; je te pr&eacute;sente les signes de cette maladie, ainsi que les
                diff&eacute;rents traitements.
            </p>
            <p>Favorise aussi une bonne hygi&egrave;ne de sommeil. Si tu gardes de mauvaises
                habitudes pour ton sommeil, m&ecirc;me le meilleur traitement contre les
                apn&eacute;es du sommeil ne pourra pas t&rsquo;aider &agrave; bien
                r&eacute;cup&eacute;rer et &agrave; r&eacute;ellement bien dormir. Une
                mauvaise hygi&egrave;ne du sommeil peut entra&icirc;ner des troubles du
                sommeil.
            </p>
            <h2>
                <span style="font-size: 16pt"
                >Les risques associ&eacute;s aux apn&eacute;es du sommeil</span
                >
            </h2>
            <p>A court terme, les signes d&rsquo;apn&eacute;e du sommeil peuvent se
                pr&eacute;senter sous forme :
            </p>
            <ul>
                <li>de fatigue,</li>
                <li>de somnolence,</li>
                <li>de maux de t&ecirc;te,</li>
                <li>d&rsquo;irritabilit&eacute;,</li>
                <li>baisse des r&eacute;flexes,</li>
                <li>baisse du champ de vision,</li>
                <li>d&eacute;pression.</li>
            </ul>
            <p>Sur le long terme, ses cons&eacute;quences sont plus graves sur la
                sant&eacute;.
            </p>
            <ul>
                <li>Un c&oelig;ur qui s&rsquo;est fatigu&eacute; plus rapidement.</li>
                <li>Retentissement cardiovasculaire.</li>
                <li>Hypertension.</li>
                <li>Angine de poitrine.</li>
                <li>Infarctus.</li>
                <li>Augmentation du risque de probl&egrave;mes cardiaques.</li>
                <li>
                Risque d&rsquo;accident de la route &eacute;lev&eacute; d&ucirc; &agrave; la
                mauvaise qualit&eacute; de sommeil.
                </li>
            </ul>
            <p>Toutefois, une prise en charge et un traitement adapt&eacute; permettent une
                bonne r&eacute;cup&eacute;ration et une diminution drastique des risques
                encourus. En particulier, si l&rsquo;apn&eacute;e ou l&rsquo;hypopn&eacute;e
                est d&eacute;tect&eacute;e t&ocirc;t.
            </p>
            <h2>
                <span style="font-size: 16pt"
                >Fiabilit&eacute; des &eacute;chelles NoSAS et STOP BANG</span
                >
            </h2>
            <p>La fiabilit&eacute; test retest des ces &eacute;chelles n&rsquo;est pas encore
                confirm&eacute;e. Cela consiste &agrave; faire passer les m&ecirc;mes tests
                dans un intervalle de temps d&eacute;fini et d&rsquo;&eacute;valuer les
                variations et la consistance des r&eacute;ponses entre les 2 tests.
            </p>
            <p>Concernant<a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/18431116/"
                    >&nbsp;le test STOP-BANG</a
                >, sa sensibilit&eacute; est de 80%. C&rsquo;est-&agrave;-dire que sur 100
                personnes souffrant de SAHOS, 80 d&rsquo;entre elles obtiennent une note
                indiquant un risque d&rsquo;apn&eacute;e du sommeil.
            </p>
            <p>La sp&eacute;cificit&eacute; de ce test est de 50%. C&rsquo;est-&agrave;-dire
                que sur 100 personnes que l&rsquo;on sait ne pas souffrir de SAHOS, 50
                d&rsquo;entre elles obtiennent un r&eacute;sultat indiquant un risque de SAHOS
                (alors qu&rsquo;il n&rsquo;en souffre pas).
            </p>
            <p>Concernant<a
                    target="_blank"
                    href="https://www.thelancet.com/journals/lanres/article/PIIS2213-2600%252816%252930075-3/fulltext"
                    >&nbsp;le test du NoSAS</a
                >, sa sensibilit&eacute; et sa sp&eacute;cificit&eacute; est de 80%. Ce qui
                signifie que sur 100 personnes souffrant de SAHOS, 80 d&rsquo;entre elles ont
                un score indiquant un risque de SAHOS. Et pour 100 personnes ne souffrant pas
                de SAHOS, 80 d&rsquo;entre elles obtiennent un score indiquant qu&rsquo;elle
                ne risque pas les SAHOS.
            </p>
            <p>La diff&eacute;rence de fiabilit&eacute; entre ces 2 tests vient du test du
                NoSAS qui se base essentiellement sur des donn&eacute;es
                morphom&eacute;triques.
            </p>
            <p><span style="font-weight: 700"
                >La fiabilit&eacute; et la validit&eacute; de ces 2 tests sont bonnes.</span
                >&nbsp;Ce sont des instruments de d&eacute;pistage fiables et faciles
                d&#39;utilisation pour
                <a
                    target="_blank"
                    href="https://econtent.hogrefe.com/doi/10.1024/1661-8157/a002921"
                    >d&eacute;tecter des troubles respiratoires du sommeil</a
                >. Ces r&eacute;sultats peuvent servir comme r&eacute;f&eacute;rence
                pr&eacute;-test aux experts du sommeil, afin de d&eacute;terminer s&rsquo;il
                faut approfondir davantage le diagnostic. Par exemple, par la mise en place
                d&rsquo;une surveillance nocturne.
            </p>
        </div>
    </section>

    <section>
        <social-network-share-buttons
        [articleImg]="sharedArticleImg">
      </social-network-share-buttons>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <app-comment [articleId]="articleId"></app-comment>
                </div>
            </div>
        </div>
    </section>
</article>