.articleLink{
    cursor: pointer;
}

.articlesList .articles-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--title-text-color);
}

.articlesList .articles-title:hover {
    text-decoration: none;
}

.articles-title, .articles-desc {
    display: block;
    margin-bottom: .75rem;
}
.articlesList li{
    border-radius: 3px;
    box-shadow: var(--box-shadow-articles);
    margin-bottom: 1.5rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.articlesList li:hover{
    box-shadow: var(--box-shadow-articles-hover);
    transform: scale(1.02) translate3d(0, 0, 0);
}

.noOutline {
    outline: none;
}

.footerLink {
    color: #6c757d;
    font-style: italic;
}

.blockquote-footer {
    color: var(--third-text-color);
}

@media screen and (max-width: 575px) and (orientation: portrait) {
    .articlesList li {
        padding: 0 0 1rem 0;
    }
    .articlesList img {
        width: 100%;
    }
    .articlesList-wrapper-img {
        padding: 0;
    }
    .articles-title {
        font-weight: bold;
    }
    .articles-desc {
        display: none;
    }
}