<div class="articles-page">
    <section>

        <div class="section-background">
            <div class="section-background-img">
                <div class="section-background-img__image"></div>
                <div class="section-background-img__opacity"></div>

                <div class="section-background-img__wrapper">
                    <h1 *ngIf="!this.currentArticleName">Découvre les articles qui t'aident à mieux dormir</h1>
                </div>

            </div>
        </div>

    </section>


    <section>
        <div class="section-categories">
            <div class="section-categories--title">
                <span>Catégories</span>
            </div>

            <div class="container" *ngIf="bigScreen || !isBrowser">
                <div class="row">
                    <div class="col" *ngFor="let category of categories; let index = index">
                        <div class="section-categories__categories-wrapper" [ngClass]="{'active': category.active}" (click)="onCategorySelected(index)">
                            <p><span>{{category.text}}</span></p>
                        </div>
                    </div>
                </div>

            </div>

            <ng-container *ngIf="!bigScreen && isBrowser">
                <div class="container section-categories--mobile-wrapper">
                    <ng-container *ngFor="let category of categories; let index = index">
                        <div *ngIf="category.active" class="section-categories--mobile-wrapper__active" [ngClass]="{'active': category.active}" (click)="onToggleDropDown()">
                            <span>{{category.text}}</span> <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

        </div>
        <ng-container *ngIf="!bigScreen && isBrowser">

            <div class="section-categories--mobile-wrapper__items" *ngIf="categoriesDropDown" @dropDownCategories>
                <div class="section-categories--mobile-wrapper__items__category"  *ngFor="let category of categories; let index = index" [ngClass]="{'active': category.active}" (click)="onCategorySelected(index)">
                    <div class="container">
                        <p><span>{{category.text}}</span></p>
                    </div>
                </div>
            </div>
        </ng-container>
    </section>

    <div class="container article articlesList">

        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let article of articles">
                <div class="container-fluid articleLink noOutline" routerLink="/articles/{{article.articleName}}" (click)="loadArticle(article.articleName)">
                    <div class="row d-flex flex-wrap align-items-center noOutline">
                        <div class="col-sm-4 align-middle articlesList-wrapper-img">
                            <picture>
                                <source  media="(min-width: 1200px)" srcset="{{imgPath}}{{article.img}}/articles/xl.jpg">
                                <source  media="(min-width: 992px)" srcset="{{imgPath}}{{article.img}}/articles/l.jpg">
                                <source  media="(min-width: 768px)" srcset="{{imgPath}}{{article.img}}/articles/xm.jpg">
                                <source  media="(min-width: 576px)" srcset="{{imgPath}}{{article.img}}/articles/m.jpg">
                                <source  media="(min-width: 380px)" srcset="{{imgPath}}{{article.img}}/articles/s.jpg">
                                <img src="{{imgPath}}{{article.img}}/articles/xs.jpg" [alt]="article.imgTitle" [title]="article.imgTitle" style="max-width: 100%">
                            </picture>
                            <div *ngIf="article.displayNewArticleBadge" class="newLabel">
                                Nouveau
                            </div>
                        </div>
                        <div class="card no-border col-sm-8">
                            <div class="card-body">
                                <a class="card-title articles-title" routerLink="/articles/{{article.articleName}}">{{article.title}}</a>
                                <a class="card-text articles-desc" *ngIf="!hideDescription">{{article.description}}</a>
                                <footer class="blockquote-footer">Le {{article.dateModified | date: 'dd/MM/yyyy'}} par <cite>Romain</cite>.</footer>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div *ngIf="loading">
            <p>Chargement des articles...</p>
            <mat-progress-bar mode="query" *ngIf="loading" class="verticalSpace"></mat-progress-bar>
        </div>
        <div *ngIf="failSave" class="alert alert-danger" role="alert">
            <p>Une erreur s'est produite, veuillez ré-essayer plus tard.</p>
        </div>
    </div>


</div>