<div class="header">
  <mat-icon class="header-close" aria-hidden="false" aria-label="Example home icon" (click)="onUserRefusesBonus()">close</mat-icon>
  <p>Gratuit : Programme du bon dormeur</p>
</div>
<div class="body">
  <p>
    Cet ebook a été conçu pour les personnes voulant améliorer leur sommeil, il
    contient :
  </p>
  <ul>
    <li>
      <p>
        <strong>Un programme idéal</strong> visant à
        <strong>se resynchroniser avec les besoins profonds du corps</strong>,
        comprenant les étapes clés.
      </p>
    </li>
  </ul>
  <carousel3d
    (linkClicked)="onUserAcceptsBonus()">
  </carousel3d>
  <ul>
    <li>
      <p class="advices">
        <strong>Mes conseils inédits</strong>, testés et approuvés par un
        <strong>ancien insiomniaque</strong> qui ne pensait pas que faire une
        nuit complète était possible.
      </p>
    </li>
  </ul>
  <blockquote>
    <p>
      Travailler trop tard peut provoquer des réveils nocturnes. De la même
      façon...<a href="#" (click)="onUserAcceptsBonus()">Lire la suite</a>
    </p>
  </blockquote>

  <button class="userChoice" (click)="onUserAcceptsBonus()">
    <p>Je veux télécharger gratuitement cet ebook !</p>
  </button>
  <button class="userChoice userRefused" (click)="onUserRefusesBonus()">
    <p>Tant pis, ça sera pour une prochaine fois.</p>
  </button>
</div>
