.body {
  padding: 1.5rem;
  overflow-x: hidden;
}

blockquote {
  background: var(--blockquote-background);
  border-left: 10px solid var(--blockquote-border);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
  font-style: italic;
  font-size: 0.85rem;
  color: var(--main-text-color);
}

.advices {
  margin-top: 60px;
}

.footerAction {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.userChoice {
  background-color: var(--button-submit-email-background);
  color: var(--button-submit-email-color);
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.userChoice p {
  margin: 0;
}

.userRefused {
  background-color: #e9e6e6;
  color: black;
  font-weight: unset;
  margin-top: 1.5rem;
}
.header {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: solid 1px whitesmoke;
}

.header p {
  font-weight: bold;
  padding: 1rem;
}

.header.isMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-bottom: solid 1px whitesmoke;
}

.header.isMobile p {
  font-weight: bold;
  margin: 0;
}

.header .header-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ccc;
}

.header .header-close:hover {
  color: var(--primary-main);
}

