.body {
  padding: 1.5rem;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(85vh);
}

.body .title {
  font-size: 1.5rem;
}

.body ul {
  position: relative;
  left: 25%;
}

.nextStepBtn {
  position: absolute;
  bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--primary-main);
}

.nextStepBtn .mat-icon {
  font-size: 70px;
  width: 70px;
  height: 70px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p {
  display: inline;
  font-style: italic;
  font-size: 0.85rem;
}

.advices {
  margin-top: 60px;
}

.userChoice {
  background-color: var(--primary-main);
  color: white;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: bold;
  border-radius: 3px;
  border: none;
}

.userChoice p {
  margin: 0;
}

.userRefused {
  background-color: #e9e6e6;
  color: black;
  font-weight: unset;
  margin-top: 1.5rem;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: solid 1px whitesmoke;
}

.header p {
  font-weight: bold;
  padding: 1rem;
}

.header .header-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ccc;
}

.header .header-close:hover {
  color: var(--primary-main);
}


