<div class="container">
  <div class="card no-border">      
      <div class="card-body">
          <div class="card-header text-center">
            <h5 class="card-title">E-book</h5>  
          </div>                              
          <p class="card-text">Description de ce qui se trouve dans l'ebook.
            Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <app-product [product]="ebook"></app-product>


          <div class="card-header text-center">
            <h5 class="card-title">Coaching</h5>  
          </div>
          <p class="card-text">En quoi consiste le coaching.
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>          
      </div>
  </div>
</div>