.form-group{
    margin-right: auto;
    margin-left: auto;
}

label {
    font-weight: bold;
}

.btnSubmit {
    background-color: var(--accent-color);
    color: var(--text-accent-color);
    width: 100%;
    font-size: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.btnSubmit p {
    margin: 0;
}

.alert-success {
    margin-bottom: 1rem;
}

.bigSize {
    font-size: 1.5rem;
}

.marginTop {
    margin-top: 1rem;
}

.smallText {
    font-size: 0.75rem;
}

.wrap {
    white-space: pre-wrap;
}