<div class="container article articlesList">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb olBreadcrumb">
    <li class="breadcrumb-item"><a href="https://sommeilprofond.fr/articles">Articles</a></li>
    <li class="breadcrumb-item active breadcrumb-articleTitle" aria-current="page">Test de s&eacute;v&eacute;rit&eacute; des troubles de l&rsquo;insomnie gratuit en ligne</li>
    </ol>
  </nav>

    <h1>Test de s&eacute;v&eacute;rit&eacute; des troubles de l&rsquo;insomnie gratuit en ligne</h1>

    <picture>
      <source  media="(min-width: 1200px)" srcset="https://sommeilprofond.fr/sleeping-bs/img/test-severite-insomnie/img1/article/xl.jpg">
      <source  media="(min-width: 992px)" srcset="https://sommeilprofond.fr/sleeping-bs/img/test-severite-insomnie/img1/article/l.jpg">
      <source  media="(min-width: 768px)" srcset="https://sommeilprofond.fr/sleeping-bs/img/test-severite-insomnie/img1/article/xm.jpg">
      <source  media="(min-width: 576px)" srcset="https://sommeilprofond.fr/sleeping-bs/img/test-severite-insomnie/img1/article/m.jpg">
      <img src="https://sommeilprofond.fr/sleeping-bs/img/test-severite-insomnie/img1/article/m.jpg" alt="Passer le test gratuit d'insomnie en ligne" title="Passer le test gratuit d'insomnie en ligne" class="fullWidth">
    </picture>

    <p>Test ton sommeil avec ce quiz rapide.</p>
    <p>Ce test est id&eacute;al pour d&eacute;tecter les insomnies chroniques, en particulier si tu trouves que tu n&rsquo;as pas assez d&rsquo;heures de sommeil ou si tu as l&rsquo;impression de mal dormir.</p>
    <p>Ce test d&rsquo;insomnie que je te propose est aussi appel&eacute; &eacute;chelle de s&eacute;v&eacute;rit&eacute; de l&rsquo;insomnie (Insomnia Severity Indy - ISI, en anglais). C&rsquo;est le <span style='font-weight:700;'>test le plus fiable</span>&nbsp;et <span style='font-weight:700;'>le plus utilis&eacute; par les m&eacute;decins du sommeil</span>&nbsp;pour <span style='font-weight:700;'>mesurer la s&eacute;v&eacute;rit&eacute; de l&rsquo;insomnie</span>.</p>
    <p>Il est compos&eacute; de <span style='font-weight:700;'>7 questions &agrave; choix multiples</span>. Dans un premier temps, les questions permettent de mesurer l&rsquo;intensit&eacute; des plaintes de l&rsquo;insomnie. Elles &eacute;valuent tes difficult&eacute;s d&rsquo;endormissement, et &agrave; rester endormi tout au long de la nuit. Elles permettent aussi de d&eacute;tecter si tu te r&eacute;veilles trop t&ocirc;t. D&rsquo;autres questions &eacute;valuent ta satisfaction globale de ton sommeil et les r&eacute;percussions de ton sommeil sur ton quotidien.</p>
    <p>Pour passer ce test du sommeil, il te suffit de s&eacute;lectionner la r&eacute;ponse qui te correspond le plus aux 7 questions qui te sont pos&eacute;es ci-dessous.</p>


    <h2>Passe le test des troubles de l'insomnie</h2>
    <!-- Questions -->
    <div *ngFor="let step of quizz" class="stepQuizz">
      <p>{{step.title}}</p>
      <mat-form-field *ngFor="let question of step.questions" appearance="fill">
        <mat-label>{{question.label}}</mat-label>
        <mat-select [(ngModel)]="question.answer" (ngModelChange)="onAnswerSelected()">
          <mat-option *ngFor="let scale of question.scale" [value]="scale.value">
            {{scale.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <h2>Obtiens ton résultat</h2>
    <!-- Stepper -->
    <quizz-mail-stepper (onShowResult)="getScore()" (goToNextStep)="onNextStep()">
      <ng-container *ngIf="score <= 7">
        <p>Tu ne souffres d'aucune insomnie significative.</p>
        <p>Tu as obtenu un score de <strong>{{score}}.</strong></p>
        <p>Pour plus de détails sur ton résultat et les recommandations à suivre, <span class="anchorLink" (click)="gotoAnchor('noInsomnie')" >clique ici.</span></p>
      </ng-container>

      <ng-container *ngIf="score > 7 && score <= 14">
        <p>Tu souffres d'insomnie légère.</p>
        <p>Tu as obtenu un score de <strong>{{score}}.</strong></p>
        <p>La mauvaise qualité de ton sommeil, peut te mettre en danger et est <strong>nuisible sur ta santé sur le long terme</strong>.</p>
        <p>Pour plus de détails sur ton résultat et les recommandations à suivre, <span class="anchorLink" (click)="gotoAnchor('insomnie')" >clique ici.</span></p>
      </ng-container>

      <ng-container *ngIf="score > 14 && score <= 21">
        <p>Tu souffres d'insomnie significative.</p>
        <p>Tu as obtenu un score de <strong>{{score}}.</strong></p>
        <p>La mauvaise qualité de ton sommeil, t'expose à un <strong>risque d'accidents élevé</strong> et est <strong>nuisible</strong> pour ta <strong>santé</strong>.</p>
        <p>Pour plus de détails sur ton résultat et les recommandations à suivre, <span class="anchorLink" (click)="gotoAnchor('largeInsomnie')" >clique ici.</span></p>
      </ng-container>

      <ng-container *ngIf="score > 21">
        <p>Tu souffres d'insomnie sévère.</p>
        <p>Tu as obtenu un score de <strong>{{score}}.</strong></p>
        <p>La très mauvaise qualité de ton sommeil, t'expose à un <strong>risque d'accidents très élevé</strong>, ton espérance de vie diminue chaque jour.</p>
        <p>Il est très important de mettre rapidement en place les recommandations de cet article.</p>
        <p>Pour plus de détails sur ton résultat et les recommandations à suivre, <span class="anchorLink" (click)="gotoAnchor('dramaticInsomnie')" >clique ici.</span></p>
      </ng-container>
    </quizz-mail-stepper>

    <section>
      <!-- Interpréter les résultats -->
      <h2>Interpr&eacute;ter ses r&eacute;sultats du test de l&rsquo;insomnie</h2>

      <h3 id="noInsomnie" >Score entre 0 et 7 : Aucune insomnie d&eacute;tect&eacute;e </h3>
      <p>Ce test n&rsquo;a r&eacute;v&eacute;l&eacute; <span style='font-weight:700;'>aucun signe d&rsquo;insomnie</span>, on dit qu&rsquo;il y a une absence de plainte d&rsquo;insomnie cliniquement significative. Toutefois, cela n&rsquo;emp&ecirc;che pas que tu puisses souffrir d&#39;autres <span style='font-weight:700;'>troubles du sommeil</span>&nbsp;comme <span style='font-weight:700;'>l&rsquo;hypersomnie</span>.</p>
      <p>Ton<span style='font-weight:700;'>&nbsp;temps de sommeil total</span>&nbsp;est<span style='font-weight:700;'>&nbsp;tr&egrave;s bon</span>, et tu as sans doute suffisamment d&rsquo;&eacute;nergie pour la journ&eacute;e.</p>
      <p>Par contre, si tu trouves que tu as des p&eacute;riodes de somnolence diurne (en journ&eacute;e), tu peux essayer de mettre en place un rythme davantage bas&eacute; sur les besoins de ton corps.</p>
      <p>Pour en savoir plus, je te recommande de suivre les conseils que je donne sur <span style='text-decoration:underline;color:#1155cc;'><a href="https://sommeilprofond.fr/">mon blog</a></span>.</p>

      <h3 id="insomnie">Score entre 8 et 14 : Insomnie l&eacute;g&egrave;re</h3>
      <p>Obtenir un score entre 8 et 14, est signe d&rsquo;un <span style='font-weight:700;'>trouble du sommeil</span>, dans ton cas, tu as des <span style='font-weight:700;'>insomnies l&eacute;g&egrave;res</span>, aussi appel&eacute; insomnie sub-cliniques.</p>
      <p>Ces insomnies ne sont <span style='font-weight:700;'>pas graves sur le court terme</span>, beaucoup de gens en souffrent &agrave; cause de mauvaises habitudes qui emp&ecirc;chent d&rsquo;avoir suffisamment d&rsquo;heures de sommeil chaque nuit.</p>
      <p>Cette privation de sommeil peut &ecirc;tre dangereuse, car la fatigue engendr&eacute;e diminue ta vigilance et t&rsquo;expose &agrave; des risques mod&eacute;r&eacute;s d&rsquo;accidents du quotidien et routier. Fais attention lorsque tu prends la voiture et que tu te sens fatigu&eacute;(e).</p>
      <p>Vivre avec une insomnie l&eacute;g&egrave;re peut aussi impacter ta qualit&eacute; de vie, <span style='font-weight:700;'>diminuer ta productivit&eacute;, ton bonheur, ab&icirc;mer ta sant&eacute;</span>&nbsp;sur le long terme et favoriser le d&eacute;veloppement de maladies graves.</p>
      <p>Le probl&egrave;me avec ce type d&rsquo;insomnie est que les personnes qui en souffrent ne pensent pas avoir besoin d&rsquo;y rem&eacute;dier. Elles peuvent trouver cela normal. Alors la <span style='font-weight:700;'>dette de sommeil se cumule sur des ann&eacute;es</span>&nbsp;pour <span style='font-weight:700;'>se transformer en une maladie grave</span>&nbsp;ou aggraver les insomnies.</p>
      <p>Pourtant, il suffit de <span style='font-weight:700;'>mettre en place une bonne hygi&egrave;ne de sommeil</span>&nbsp;et de bonnes habitudes pour retrouver un sommeil r&eacute;parateur. </p>
      <p>Pour o&ugrave; commencer ?</p>
      <p>Je te recommande de suivre les conseils de mon guide gratuit que je t&rsquo;ai envoy&eacute; par mail. Je t&rsquo;invite aussi &agrave; regarder <span style='text-decoration:underline;color:#1155cc;'><a href="https://sommeilprofond.fr/articles">les diff&eacute;rents conseils et erreurs &agrave; &eacute;viter</a></span>&nbsp;que je partage dans ce blog.</p>

      <h3 id="largeInsomnie">Score entre 15 et 21 : Insomnie mod&eacute;r&eacute;</h3>
      <p>Ce palier correspond &agrave; un trouble de l&rsquo;<span style='font-weight:700;'>insomnie significatif</span>. Tu es consid&eacute;r&eacute; comme insomniaque. Il est grand temps de prendre ton sommeil en main, et de<span style='font-weight:700;'>&nbsp;tout faire pour retrouver des nuits de sommeil de qualit&eacute;</span>.</p>
      <p>A ce stade, il se peut que tu souffres de <span style='font-weight:700;'>somnolences </span>diurnes excessives (tu as des longues p&eacute;riodes de la journ&eacute;e o&ugrave; tu te sens tr&egrave;s fatigu&eacute;(e)). Il se peut que tu aies beaucoup de <span style='font-weight:700;'>mal &agrave; trouver le sommeil</span>&nbsp;et que<span style='font-weight:700;'>&nbsp;tu te r&eacute;veilles une ou plusieurs fois la nuit en ayant du mal &agrave; te rendormir</span>.</p>
      <p>Souffrir d&rsquo;insomnie significative, impacte &eacute;norm&eacute;ment ton quotidien et ta qualit&eacute; de vie. Cela peut se ressentir avec la fatigue que tu cumules, tes changements d&rsquo;humeurs, une impression d&rsquo;&ecirc;tre moins heureux, moins productif, avoir plus de mal &agrave; apprendre de nouvelles choses....</p>
      <p>Cette privation de sommeil, entra&icirc;ne des troubles de la vigilance &eacute;lev&eacute;s, t&rsquo;expose &agrave; un <span style='font-weight:700;'>risque sup&eacute;rieur d&rsquo;accident</span>&nbsp;du quotidien et surtout, aux <span style='font-weight:700;'>accidents routiers</span>&nbsp;qui peuvent &ecirc;tre tr&egrave;s <span style='font-weight:700;'>graves</span>, voire mortels.<span style='font-weight:700;'>&nbsp;Ta sant&eacute; est mise &agrave; rude &eacute;preuve</span>, tu t&rsquo;exposes &agrave; un plus grand risque d&rsquo;attraper des maladies. </p>
      <p>Sur le long terme, des maladies graves comme l&#39;alzheimer peuvent appara&icirc;tre. </p>
      <p>Il faudrait que tu agisses rapidement afin de mettre en place des solutions pour am&eacute;liorer ton sommeil.</p>
      <p>Par o&ugrave; commencer ?</p>
      <p>D&rsquo;apr&egrave;s les &eacute;tudes, <span style='font-weight:700;'>les meilleurs traitements</span>&nbsp;pour lutter contre les insomnies sont de mettre en place les <span style='font-weight:700;'>bonnes habitudes pour bien dormir</span>&nbsp;et une <span style='font-weight:700;'>bonne hygi&egrave;ne du sommeil</span>. </p>
      <p>Pour cela, je t&rsquo;ai envoy&eacute; par mail mon guide gratuit, o&ugrave; tu peux commencer &agrave; mettre en place les recommandations de ce guide. Je te recommande vivement de suivre les conseils de cet article, <span style='text-decoration:underline;color:#1155cc;'><a href="https://sommeilprofond.fr/articles/se-soigner-insomnie">la m&eacute;thode pour gu&eacute;rir de l&rsquo;insomnie</a></span>.</p>
      <p>Si tu te demandes, si les somnif&egrave;res peuvent t&rsquo;aider &agrave; mieux dormir, je te dirais de ne jamais en prendre ! Bien que tu puisses avoir l&rsquo;impression de bien dormir avec, ils perturbent le sommeil, et sont addictifs. Sur le moyen/long terme, ils vont d&eacute;grader ta sant&eacute;. Si tu n&rsquo;en consommes pas, je te sugg&egrave;re de ne pas en prendre.</p>
      <p>N&rsquo;h&eacute;site pas &agrave; m&rsquo;envoyer tes questions et lire les diff&eacute;rents articles que je propose dans ce blog.</p>

      <h3 id="dramaticInsomnie">Score entre 22 et 28 : Insomnie s&eacute;v&egrave;re</h3>
      <p>C&rsquo;est le palier le plus &eacute;lev&eacute; de ce quiz. Ton sommeil est de tr&egrave;s mauvaise qualit&eacute;. <span style='font-weight:700;'>Ta sant&eacute; et ta qualit&eacute; de vie sont en jeu</span>. Il faut agir rapidement, pour &eacute;viter d&rsquo;ab&icirc;mer plus ton corps et diminuer le risque important d&rsquo;accident.</p>
      <p>Ta dette de sommeil est &eacute;norme et augmente drastiquement jour apr&egrave;s jour. Ce qui veut dire que ton corps et ta sant&eacute; s&#39;ab&icirc;ment rapidement &agrave; cause du manque de sommeil. De plus, &agrave; cause de l&rsquo;&eacute;norme quantit&eacute; de fatigue que tu tra&icirc;nes, tu es plus sujet(e) &agrave; avoir des accidents du quotidien et de la route.</p>
      <p>Il n&rsquo;existe pas de test routier permettant de d&eacute;tecter la fatigue cumul&eacute;e, mais si on compare les effets d&rsquo;un manque de sommeil &eacute;lev&eacute; et ceux de l&rsquo;alcool, tu d&eacute;passes tr&egrave;s certainement les limites autoris&eacute;es pour conduire.</p>
      <p>Ton sommeil est perturb&eacute;, tes cycles de sommeil sont cass&eacute;s, ton corps fonctionne mal, il faut l&rsquo;aider. Ton esp&eacute;rance de vie diminue chaque jour.</p>
      <p>Avoir des insomnies s&eacute;v&egrave;res est tr&egrave;s grave, tu dois t&rsquo;en rendre compte de son impact dans ton quotidien. Je te recommande de consulter tr&egrave;s rapidement un sp&eacute;cialiste du sommeil, ainsi que d&rsquo;en parler &agrave; ton m&eacute;decin du travail.</p>
      <p>Je t&rsquo;invite aussi &agrave; mettre en place les recommandations de<span style='text-decoration:underline;color:#1155cc;'><a href="https://sommeilprofond.fr/articles/se-soigner-insomnie">&nbsp;ma m&eacute;thode pour gu&eacute;rir des insomnies</a></span>, ainsi que de suivre le programme que je t&rsquo;ai envoy&eacute; via mon bonus par mail.</p>
    </section>
  </div>

  <section>
    <social-network-share-buttons
      [articleImg]="sharedArticleImg">
    </social-network-share-buttons>
  </section>


  <section>
    <div class="container">
        <div class="row">
            <div class="col">
                <app-comment [articleId]="articleId"></app-comment>
            </div>
        </div>
    </div>
  </section>