<div class="section" [ngClass]="{'backgroundFeather' : !themeColorService.isDarkThemeSelected}" aria-label="Plume blanche légère">
    <div class="container">
        <div class="flex-wrap align-items-center block">
            <div class="no-border transparent">
                <div class="center">
                    <h1>{{bonusTitle}}</h1>
                </div>
            </div>
        </div>
        <div class="divMailRetrieve">
            <app-retrieve-mail></app-retrieve-mail>
        </div>
    </div>
</div>
