<div class="section backgroundFeather" id="secondElement">
    <div class="container firstChild">
        <div class="flex-wrap align-items-center block">
            <div class="card no-border transparent">
                <div class="card-body center">
                    <h1>As tu ces 3 habitudes qui gâchent ton sommeil ?</h1>
                </div>
            </div>
        </div>
        <div class="divMailRetrieve">
            <app-retrieve-mail></app-retrieve-mail>
        </div>
    </div>
</div>
