.center{
    text-align: center;
}

.fullBackgroundImage {
    background-image: url("src/assets/img/article3.jpg");
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* top: 0px;
    position: absolute; */
}

.firstChild {
    padding-top: 60px;
}

.secondImage {
    background-image: url("src/assets/img/article2.jpg");
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* top: 0px;
    position: absolute; */
}

.backgroundFeather {
    background-image: url("src/assets/img/fond_plume.png");
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divMailRetrieve{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}