.center{
    text-align: center;
}

.firstChild {
    padding-top: 60px;
}

.backgroundFeather {
    background-image: url("src/assets/img/fond_plume.png");
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divMailRetrieve{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}