<div class="section backgroundFeather" aria-label="Plume blanche légère" [style.background-image]="'url('+ imgFeatherPath +')'">
    <div class="container firstChild">
        <div class="flex-wrap align-items-center block">
            <div class="card no-border transparent">
                <div class="card-body center">
                    <h1>{{bonusTitle}}</h1>
                </div>
            </div>
        </div>
        <div class="divMailRetrieve">
            <app-retrieve-mail></app-retrieve-mail>
        </div>
    </div>
</div>
