.actionsBlock {
    display: flex;
    justify-content: space-between;
}

.buttonsChoice button {
    margin: 1rem;
}

.buttonsChoice button:hover {
    transform: scale(110%);
}

button.true {
    background-color: var(--button-binary-action-valid);
}

button.false {
    background-color: var(--button-binary-action-refuse);
}
