<p>horne-ostberg works!</p>
<section>
    <div class="container article">

        <h2>Passe le test de vespéralité</h2>

        {{quizz|json}}

        currentIndex : {{currentIndex}}
        <binary-quizz [binaryQuestions]="quizz" [cardConfiguration]="cardConfiguration" [(currentIndex)]="currentIndex">
            <div class="extra">

                <div>
                    <mat-radio-group
                      aria-labelledby="radio-group-label"
                      class="radio-group"
                      [(ngModel)]="quizz[currentIndex].answerValue">
                      <mat-radio-button class="radio-button" *ngFor="let proposition of quizz[currentIndex].propositions" [value]="proposition.value">
                          {{proposition.text}}
                      </mat-radio-button>
                  </mat-radio-group>
                </div>

            </div>
        </binary-quizz>
    </div>
</section>