.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.extra {
  margin: 0 auto 3rem auto;
}

.scoreDisplay {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.resultCard {
  box-shadow: 2px 2px 8px rgb(99 99 101);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  width: fit-content;
}

.resultCard p{
  width: 100%;
}

.resultCard .headerQuizz {
  font-weight: bold;
}

.risk {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primary-main);
}