<p>horne-ostberg works!</p>
<section>
    <div class="container article">

        <h2>Passe le test de vespéralité et matinalité</h2>

        <card-questions [cardQuestions]="quizz" [(currentIndex)]="currentIndex" [(isQuizzCompleted)]="isQuizzCompleted">
            <div class="extra" questionContent *ngIf="!isQuizzCompleted">

                <div>
                    <mat-radio-group
                      aria-labelledby="radio-group-label"
                      class="radio-group"
                      [(ngModel)]="quizz[currentIndex].answerValue">
                      <mat-radio-button
                        class="radio-button"
                        *ngFor="let proposition of quizz[currentIndex].propositions"
                        [value]="proposition.value"
                      >
                          {{proposition.text}}
                      </mat-radio-button>
                  </mat-radio-group>
                </div>

            </div>
        </card-questions>
    </div>
</section>

<section>
    <div class="container article">
        <h2>Obtiens ton résultat</h2>

        <quizz-mail-stepper (onShowResult)="onGetScore()" (reset)="onReset()">

            <!-- Quizz not completed -->
            <ng-container *ngIf="!isQuizzCompleted">
                <div class="alert alert-warning" role="alert">
                    <p>Oups, il semblerait que tu n'ai pas répondu à l'ensemble des questions du test.</p>
                    <p>Il te suffit de le compléter pour afficher ton score.</p>
                </div>
            </ng-container>

            <ng-container *ngIf="isQuizzCompleted">
                <div class="scoreDisplay">
                    <div class="resultCard">
                        <p>Chronotype : <span class="risk">{{chronotype}} </span></p>
                        <p>Score : <span>{{score}}</span></p>
                    </div>
                </div>
                <p>*Les interprétations de tes résultats sont disponibles ci-dessous.</p>
            </ng-container>

        </quizz-mail-stepper>
    </div>

</section>