/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    background-color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Raleway', sans-serif;
}

hr{
    width: 95%;
}

.no-border{
    border: none;
}

.card-header{
    color: white;
    background-color: midnightblue;
    margin-bottom: 1em;
}

.center{
    margin:auto;
}

.midnightblue {
    color: white;
    background-color: midnightblue;
}

.btn:disabled{
    cursor: not-allowed;
}
.mat-tab-group{
    font-family: 'Raleway', sans-serif;
}

.transparent{
    background-color: transparent;
}

.verticalSpace {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blueColor {
    color: midnightblue;
}

.article h1, h2, h3{
    font-weight: 600;
    line-height: 1em;
    color: #383838;
}

.article h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.article h2{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article h3{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article .citation{
    text-align: center;
    font-style: italic;
    font-weight: 550;
}

.article p{
    white-space: pre-wrap;
}

.article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 100%;
}