@import "socialButtonsStyles.css";

:root {
  --primary-main: #0d0d6d;
  --secondary-main: black;
  --accent-color: #fe0000;
  --text-accent-color: black;
  --main-background-color: white;  /* 1b1b58 */
  --main-text-color: #212529;
  --secondary-text-color: #383838;
  --third-text-color: #6c757d;
  --title-text-color: var(--secondary-text-color);

  --body-color: #212529;
  --flip-time: 400ms;
  --header-background-color: white;
  --footer-background-color: whitesmoke;
  --footer-bold-color: #e6e5e5;
  --div-container-background-color: transparent;
  --mat-form-field-color: var(--accent-color);

  --link-color: #007bff;
  --link-color-hover: #09519e;

  --blockquote-background: #f9f9f9;
  --blockquote-border: #ccc;

  --box-shadow-articles: 1px 1px 4px rgb(99 99 101);
  --box-shadow-articles-hover: 2px 2px 8px rgba(99 99 101);

  --button-binary-action-valid: var(--primary-main);
  --button-binary-action-refuse: #fe0000;

  --button-submit-email-background: var(--primary-main);
  --button-submit-email-color: white;
}

html[data-theme='dark'] {
  --primary-main: #0f0fbb;
  --secondary-main: black;
  --accent-color: #ffe100;
  --text-accent-color: black;
  --main-background-color: #0f0f3b;  /* 1b1b58 */
  --main-text-color: white;
  --secondary-text-color: #ededfd;
  --third-text-color: #b5b7b9;
  --title-text-color: var(--secondary-text-color);

  --body-color: white;
  --flip-time: 400ms;
  --header-background-color: #0c0c5e;
  --footer-background-color: #0f0f35;
  --footer-bold-color: #0b0b24;
  --div-container-background-color: #12126b;
  --mat-form-field-color: var(--accent-color);

  --link-color: var(--accent-color);
  --link-color-hover: #fff7b9;

  --blockquote-background: var(--primary-main);
  --blockquote-border: #0a0a92;

  --box-shadow-articles: none;
  --box-shadow-articles-hover: none;

  --button-binary-action-valid: var(--primary-main);
  --button-binary-action-refuse: #fe0000;

  --button-submit-email-background: var(--accent-color);
  --button-submit-email-color: var(--text-accent-color);
}


body {
  background-color: var(--main-background-color);
  font-family: "Raleway", sans-serif;
  margin-top: 80px;
  color: var(--body-color);
}

.container {
  overflow: hidden;
}

hr {
  width: 95%;
}

.no-border {
  border: none;
}

.center {
  margin: auto;
}

.alignCenter {
  text-align: center;
}

.btn:disabled {
  cursor: not-allowed;
}
.mat-tab-group {
  font-family: "Raleway", sans-serif;
}

.transparent {
  background-color: transparent;
}

.verticalSpace {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.blueColor {
  color: var(--primary-main);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

.article {
  text-align: justify;
}

.article h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1em;
  color: var(--title-text-color);
}

.article h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.article h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article h3 {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article .citation {
  text-align: center;
  font-style: italic;
  font-weight: 550;
}

.article p {
  white-space: pre-wrap;
}

.article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 100%;
}

.article .fullWidth {
  width: 100%;
}

.article .noMarginBottom {
  margin-bottom: 0;
}

.titleBottomLine {
  margin-top: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 0.5rem;
}

.noMarginBottom {
  margin-bottom: 0;
}

.hiddenScroll {
  overflow: hidden;
}

.backgroundFeather {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 575px) and (orientation: portrait) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/m.jpg");
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) and (orientation: portrait) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/xm.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/l.jpg");
  }
}

@media screen and (min-width: 992px) and (orientation: portrait) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/xl.jpg");
  }
}

/* Landscape */

@media screen and (max-width: 575px) and (orientation: landscape) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/m.jpg");
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/xm.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/l.jpg");
  }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
  .backgroundFeather {
    background-image: url("https://sommeilprofond.fr/sleeping-bs/img/white_feather/xl.jpg");
  }
}

.divMailRetrieve {
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02), 0 6px 6px rgba(0, 0, 0, 0.10);

}

.divMailRetrieve:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}


.list-group-item, .card, .navbar {
  background-color: var(--header-background-color);
  color: var(--main-text-color);
}

/* Material design overrride, should be handle in custom-theme*/

.mat-stepper-horizontal {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

/** Overrides underline color **/
.dark-theme {
  .mat-form-field-appearance-legacy .mat-form-field-underline,
  .mat-form-field-appearance-legacy .mat-form-field-ripple,
  .mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-underline,
  .mat-form-field-appearance-legacy.mat-focused
  .mat-form-field-ripple {
      background-color: var(--mat-form-field-color);
  }

  /** Overrides label color **/
  //.mat-form-field-appearance-legacy .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-focused
  //.mat-form-field-label
  {
      color: var(--mat-form-field-color);
  }

  /** Overrides caret & text color **/
  .mat-form-field-appearance-legacy .mat-input-element {
      caret-color: var(--main-text-color);
      color: var(--main-text-color);
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical,
  .mat-expansion-panel {
    background-color: var(--main-background-color);
  }

  .mat-select-panel,
  .mat-menu-panel {
    background-color: var(--div-container-background-color);
  }
}


