<div class="header" [ngClass]="{'isMobile': isMobile}">
  <mat-icon class="header-close" aria-hidden="false" aria-label="Example home icon" (click)="onUserRefusesBonus()">close</mat-icon>
  <p>Gratuit : Ebook du bon dormeur</p>
</div>
<div class="body">

  <div *ngIf="!isMobile" class="firstSection">
    <p class="firstText">
      Cet ebook a été conçu pour les personnes voulant améliorer leur sommeil, il
      contient :
    </p>
    <ul>
      <li>
        <p>
          J'ai créé  <strong>un programme idéal</strong> visant à aider le corps à
          <strong>se resynchroniser avec ses besoins profonds</strong>,
          comprenant les étapes clés.
        </p>
      </li>
      <li>
        <p>Mes meilleurs conseils</p>
      </li>
      <li>
        <p>Les étapes clés pour bien dormir. Exemple :</p>
      </li>
    </ul>

  </div>

  <div *ngIf="isMobile" class="presentationTexts">
    <p>J'ai créé <strong>un programme idéal</strong> visant à aider le corps à
      <strong>se resynchroniser avec ses besoins profonds</strong>
    </p>
    <p>
      Il comprend un guide avec <strong>l'heure où réaliser des activités clés</strong> pour bien dormir
    </p>
  </div>

  <carousel3d
    (linkClicked)="onUserAcceptsBonus()">
  </carousel3d>

  <div *ngIf="!isMobile" class="secondSection">
    <ul>
      <li>
        <p class="advices">
          <strong>Mes conseils inédits</strong>, testés et approuvés par un
          <strong>ancien insiomniaque</strong> qui ne pensait pas que faire une
          nuit complète était possible.
        </p>
      </li>
    </ul>
    <blockquote>
      <p>
        Travailler trop tard peut provoquer des réveils nocturnes. De la même
        façon...<a href="#" (click)="onUserAcceptsBonus()">Lire la suite</a>
      </p>
    </blockquote>
  </div>

  <div class="footerAction">
    <button class="userChoice" (click)="onUserAcceptsBonus()">
      <p>Télécharger l'ebook</p>
    </button>
    <button class="userChoice userRefused" (click)="onUserRefusesBonus()">
      <p>Tant pis.</p>
    </button>
  </div>

</div>
