<div class="container article">
  <div class="col- " id="articleContent">

    <!-- Test Content -->
    <h1>Romain de Sommeil Profond</h1>

    <h2>QUI SUIS-JE EXACTEMENT ?</h2>
    <img class="imgBook" src="assets/img/sleepingLogo.png" alt="Logo sommeil">
    <h2>Problèmes rencontrés</h2>
    <p>Vous avez dèjà lu des conseilles en développement personnel mais vous ne parvenez pas à les mettre en pratique par manque de temps ?
    Dans le livre, Miracle Morning, Hal Elrod propose une méthode pour se lever plus tôt afin de mettre en place des habitudes pour réussir dans tous les domaines de la vie.
    Je propose dans cet article une revue de son livre.
    </p>
    <h2>Comment j'étais quand j'ai rencontré ce problème</h2>
    <h3>L'accident</h3>
    <p>Dans son livre, Hal Elrod raconte son hsitoire et comment est née son livre.
    Avant d'avoir créer Miracle Morning, Hal Elrod était un commercial ayant beaucoup de succès. Il raconte qu'avec beaucoup de travail, il a battu plusieurs records de vente et son ambition ne s'arrêtait pas là.
    Mais après une soirée durant laquel il reçu un standing ovation, il a été victime d'un grave accident de la route. L'handicapant plusieurs années.
    </p>
    <p>
    Il décide de se prendre en main, il reprant son travail et bien qu'il est été en rééducation, il fait sa meilleur année de vente. Il décide ensuite de ranconter son histoire afin d'inspirer les gens et de partager les lessons de la vie qu'il a apprit lorsqu'il était vulnérable.
    Il écrit ensuite un premier livre mais il rencontre des difficultés à le rédiger. Concernant sa vie professionel, il est pour la seconde année consécutive dans le top des des meilleurs vendeurs.
    Puis, il devient manager et son équipe devient la meilleur équipe de l'entreprise. Il décide devenir coach en motivation.
    </p>
    <p>Il sent qu'il n'a pas encore atteint son plein potentiel et décide de doubler les objectifs de vente de son équipe et d'écrire un livre.
    Ce qu'il réussit dans l'année.
    Son premier livre est "Taking Life Heand On...", est classé dans le top 10 des meilleurs ventes sur Amazon. Malheureusement pour lui, son éditeur lui vola tous ces bénéfices et personne ne le retrouva.
    Mais, il retien ses leçons de son accident et apprend de ses erreurs.
    Il se consacre essentiellement en tant que business coach.</p>

    <h2>Comment je peux vous aider</h2>
    <h3>Deuxième descente aux enferts</h3>
    <p>Bien qu'il est beaucoup de succès la crise de 2007 aux Etats-unis, lui fit perdre tous ses clients et il se retrouva avec une grosse dète d'argent.
    Malgré ses tentative pour remonter, il était au bout et se décrit comme étant plus désespérer qu'après son accident de voiture. Mentallement, émotionnellement et financièrement cassé.
    Jusqu'au jour où un de ses amis, lui consseilla d'aller courir à son réveil bien qu'il détestait ça. Pendant sa course, il décide d'écouter un podcast de développement personnel. C'est à ce moment qu'il eu une révélation qui va faire naître Miracle Morning.
    </p>
    <p class="citation">"Votre niveau de succès va rarement dépasser votre niveau de développement personnel. Car, le succès est quelque chose que l'on attire par la personne que l'on devient."par Jim Rohn.</p>

    <h2>Devenir la personne que l'on souhaite</h2>
    <p>Il constate que la majorité des personnes se résigne à vivre une vie médiocre et passive, en accpetant ce que la vie leur donne.
    Même ceux ayant réussit dans un domaine, se laissent vivre médiocrement dans un autre domaine.
    Selon lui, rien ne nous empêche de réussir simmultanément dans tous les domaines de la vie (Santé, Amour, Travail, Etre heureux, Prosper...).
    </p>
  </div>
</div>