<div class="backgroundFeather center" aria-label="Plume blanche légère">
  <div class="container article home center">
    <div class="row">
      <div class="col-12 ">
        <h1 class="center">Bienvenue sur le site Sommeil Profond</h1>
        <p><strong>Blog spécialisé dans les problèmes de sommeil.</strong></p>
        <p>Je m'appelle <strong>Romain</strong>, je suis <strong>passionné par le sommeil</strong> et son impact sur la santé.</p>
        <p><strong>Pendant près de 20 ans, j'étais insomniaque.</strong></p>
        <p>Sans le savoir, j'étais exposé à de graves risques liés à un sommeil de mauvaise qualité.</p>
        <p>Aujourd'hui, je mets en place des actions concrètes qui m'aident pour m'endormir facilement, à rester endormi tout au long de la nuit et à me réveiller en pleine forme.</p>
        <p>J'ai plus d'énergie, j'apprend mieux, je suis plus performant au travail et ma qualité de vie s'est grandement amélioré.</p>

        <h2>Si tu rencontres un problème de sommeil ou de fatigue, je peux t'aider.</h2>
        <p>Un des plus grands spécialistes du sommeil, le professeur Thomas Roth. dit :</p>
        <p class="citation"><strong>La principale cause de nos problèmes de sommeil est lié à de mauvaises habitudes.</strong></p>
        <p>A travers ce blog, je t'aide à identifier ce qui pourrait être la cause tes problèmes.</p>
        <p>Je mets aussi à ta disposition un tas de conseils qui pourront t'aider à mieux dormir et te sentir en pleine forme.</p>
        <p>N'oublie pas, tous les experts du sommeil le disent.</p>
        <p><strong>Tout le monde peut retrouver un sommeil de qualité.</strong></p>
        <p>Donc, toi aussi, <strong>tu peux le retrouver !</strong></p>
        <p>Pour commencer, tu peux télécharger mon bonus ci-dessous où je te partage un programme à suivre et les fondamentaux pour bien dormir.</p>

        <div class="divMailRetrieve leftAlign">
          <app-retrieve-mail></app-retrieve-mail>
        </div>
      </div>
    </div>
  </div>
</div>

